@font-face {
    font-family: $font-name;
    src: url('fonts/dev4press.eot?#{$font-version}');
    src: url('fonts/dev4press.eot?#{$font-version}#iefix') format('embedded-opentype'),
         url('fonts/dev4press.woff2?#{$font-version}') format('woff2'),
         url('fonts/dev4press.woff?#{$font-version}') format('woff'),
         url('fonts/dev4press.ttf?#{$font-version}') format('truetype'),
         url('fonts/dev4press.svg?#{$font-version}#dev4press') format('svg');
    font-weight: normal;
    font-style: normal;
}

.#{$font-prefix-ctrl} {
    font: normal normal normal $font-size/1 $font-name;
    font-size: inherit;
    text-transform: none;
    display: inline-block;
    vertical-align: text-bottom;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    > .#{$font-prefix-ctrl} {
        line-height: inherit;
        vertical-align: bottom;
    }
}

a {
    > .#{$font-prefix-ctrl} {
        line-height: normal;
    }
}

/* Icons */
@each $icon, $char in $icons {
    .#{$font-prefix-ctrl}.#{$font-prefix}-#{$icon} {
        &:before {
            content: icon($char);
        }
    }
}

/* Full Width */
.#{$font-prefix-ctrl}-fw {
    width: 1.28571429em;
    text-align: center;
}

/* Sizes */
.#{$font-prefix-ctrl}-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

@for $i from 2 to 11 {
    .#{$font-prefix-ctrl}-#{$i}x {
        font-size: #{$i}em;
    }
}

/* Pull */
.#{$font-prefix-ctrl}-pull-left {
    float: left;
    margin-right: .3em;
}

.#{$font-prefix-ctrl}-pull-right {
    float: right;
    margin-left: .3em;
}

/* Rotate */
.#{$font-prefix-ctrl}-rotate-90 {
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg)
}

.#{$font-prefix-ctrl}-rotate-45 {
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg)
}

.#{$font-prefix-ctrl}-rotate-270 {
    -webkit-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    transform:rotate(270deg)
}

/* Flip */
.#{$font-prefix-ctrl}-flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

.#{$font-prefix-ctrl}-flip-vertical {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1)
}

.#{$font-prefix-ctrl}-flip-both,
.#{$font-prefix-ctrl}-flip-horizontal.#{$font-prefix-ctrl}-flip-vertical {
    -webkit-transform: scale(-1);
    transform: scale(-1)
}

/* Spin */
.#{$font-prefix-ctrl}-spin {
    -webkit-animation: #{$font-prefix}-icon-spin 2s infinite linear;
    animation: #{$font-prefix}-icon-spin 2s infinite linear;
}

@-webkit-keyframes #{$font-prefix}-icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes #{$font-prefix}-icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
