$icons: (
        brand-deviantart: "f101",
        brand-facebook: "f102",
        brand-github-alt: "f103",
        brand-github: "f104",
        brand-gravityforms: "f105",
        brand-instagram: "f106",
        brand-linkedin: "f107",
        brand-reddit: "f108",
        brand-stack-exchange: "f109",
        brand-stack-overflow: "f10a",
        brand-twitter: "f10b",
        brand-wordpress: "f10c",
        brand-youtube: "f10d",
        club-gd-bbpress-club: "f10e",
        club-icon-bbpress: "f10e",
        club-bbpress: "f10e",
        club-icon-gd-bbpress-club: "f10e",
        club-gd-dev4press-plugins: "f10f",
        club-icon-dev4press: "f10f",
        club-dev4press: "f10f",
        club-icon-gd-dev4press-plugins: "f10f",
        club-gd-rating-club: "f110",
        club-icon-rating: "f110",
        club-rating: "f110",
        club-icon-gd-rating-club: "f110",
        file-archive: "f111",
        file-blank: "f112",
        file-certificate: "f113",
        file-chart-line: "f114",
        file-check: "f115",
        file-contract: "f116",
        file-export: "f117",
        file-import: "f118",
        file-lock: "f119",
        file-magnifying-glass: "f11a",
        file-pen: "f11b",
        file-shield: "f11c",
        file-signature: "f11d",
        file-spreadsheet: "f11e",
        file-text: "f11f",
        logo-bbpress: "f120",
        logo-buddypress: "f121",
        logo-dev4press-full-fill: "f122",
        logo-dev4press-full: "f123",
        logo-dev4press: "f124",
        logo-dev4press-light: "f124",
        logo-jquery: "f125",
        logo-php: "f126",
        logo-woo: "f127",
        plugin-archivespress: "f128",
        plugin-breadcrumbspress: "f129",
        plugin-coreactivity: "f12a",
        plugin-coresecurity: "f12b",
        plugin-gd-security-toolbox: "f12b",
        plugin-coreseo: "f12c",
        plugin-gd-seo-toolbox: "f12c",
        plugin-coresocial: "f12d",
        plugin-debugpress: "f12e",
        plugin-demopress: "f12f",
        plugin-dev4press-updater: "f130",
        plugin-forummod-for-bbpress: "f131",
        plugin-gd-bbpress-attachments: "f132",
        plugin-gd-bbpress-toolbox: "f133",
        plugin-gd-bbpress-tools: "f134",
        plugin-gd-content-tools: "f135",
        plugin-gd-forum-manager: "f136",
        plugin-gd-forum-manager-for-bbpress: "f136",
        plugin-gd-forum-notices: "f137",
        plugin-gd-forum-notices-for-bbpress: "f137",
        plugin-gd-knowledge-base: "f138",
        plugin-gd-mail-queue: "f139",
        plugin-gd-members-directory: "f13a",
        plugin-gd-members-directory-for-bbpress: "f13a",
        plugin-gd-pages-navigator: "f13b",
        plugin-gd-power-search: "f13c",
        plugin-gd-power-search-for-bbpress-lite: "f13c",
        plugin-gd-power-search-for-bbpress: "f13c",
        plugin-gd-press-tools: "f13d",
        plugin-gd-quantum-theme: "f13e",
        plugin-gd-quantum-theme-for-bbpress: "f13e",
        plugin-gd-rating-system: "f13f",
        plugin-gd-rating-system-lite: "f13f",
        plugin-gd-security-headers: "f140",
        plugin-gd-topic-polls: "f141",
        plugin-gd-topic-polls-lite: "f141",
        plugin-gd-topic-polls-for-bbpress: "f141",
        plugin-gd-topic-prefix: "f142",
        plugin-gd-topic-prefix-for-bbpress: "f142",
        plugin-sweeppress: "f143",
        ui-alarm: "f144",
        ui-analytics: "f145",
        ui-angles-left: "f146",
        ui-archive: "f147",
        ui-arrow-left: "f148",
        ui-arrows-v: "f149",
        ui-assistive-listening-systems: "f14a",
        ui-asterisk: "f14b",
        ui-badge-check: "f14c",
        ui-badge-percent: "f14d",
        ui-badge: "f14e",
        ui-ban: "f14f",
        ui-barcode: "f150",
        ui-bars: "f151",
        ui-bee: "f152",
        ui-bell-school: "f153",
        ui-bell: "f154",
        ui-book-spells: "f155",
        ui-book: "f156",
        ui-bookmark: "f157",
        ui-box: "f158",
        ui-brackets: "f159",
        ui-briefcase: "f15a",
        ui-browser: "f15b",
        ui-bug: "f15c",
        ui-bullhorn: "f15d",
        ui-cabinet: "f15e",
        ui-cake-candles: "f15f",
        ui-calendar-day: "f160",
        ui-calendar-pen: "f161",
        ui-calendar: "f162",
        ui-camera-movie: "f163",
        ui-camera: "f164",
        ui-cancel: "f165",
        ui-candy: "f166",
        ui-caret-down: "f167",
        ui-certificate: "f168",
        ui-chart-area: "f169",
        ui-chart-bar: "f16a",
        ui-chart-line: "f16b",
        ui-chart-network: "f16c",
        ui-chart-pie: "f16d",
        ui-check-square: "f16e",
        ui-check: "f16f",
        ui-chevron-left: "f170",
        ui-chevron-square-left: "f171",
        ui-clear: "f172",
        ui-clipboard-list: "f173",
        ui-clock: "f174",
        ui-close-square: "f175",
        ui-cloud-download: "f176",
        ui-cloud-upload: "f177",
        ui-cloud: "f178",
        ui-code-rec: "f179",
        ui-code: "f17a",
        ui-cog-slash: "f17b",
        ui-cog: "f17c",
        ui-cogs: "f17d",
        ui-columns: "f17e",
        ui-comment-dots-check: "f17f",
        ui-comment-dots-clock: "f180",
        ui-comment-dots-exclamation: "f181",
        ui-comment-dots-xmark: "f182",
        ui-comment-dots: "f183",
        ui-comment: "f184",
        ui-comments-question: "f185",
        ui-comments: "f186",
        ui-copy: "f187",
        ui-dashboard: "f188",
        ui-database: "f189",
        ui-desktop: "f18a",
        ui-dots-square: "f18b",
        ui-download: "f18c",
        ui-droplet: "f18d",
        ui-edit: "f18e",
        ui-elephant: "f18f",
        ui-envelope-open: "f190",
        ui-envelope: "f191",
        ui-envelopes: "f192",
        ui-eraser: "f193",
        ui-exclamation-square: "f194",
        ui-exclamation: "f195",
        ui-external-link: "f196",
        ui-eye-slash: "f197",
        ui-eye: "f198",
        ui-filter: "f199",
        ui-filters: "f19a",
        ui-firewall: "f19b",
        ui-flag: "f19c",
        ui-flask: "f19d",
        ui-folder-search: "f19e",
        ui-folder: "f19f",
        ui-folders: "f1a0",
        ui-friends: "f1a1",
        ui-gauge-bolt: "f1a2",
        ui-gauge-high: "f1a3",
        ui-gauge-low: "f1a4",
        ui-gauge-max: "f1a5",
        ui-gauge-min: "f1a6",
        ui-gift-card: "f1a7",
        ui-gift: "f1a8",
        ui-globe: "f1a9",
        ui-graduation-cap: "f1aa",
        ui-hammer: "f1ab",
        ui-hand-pointer: "f1ac",
        ui-hashtag: "f1ad",
        ui-heart: "f1ae",
        ui-hexagon: "f1af",
        ui-home: "f1b0",
        ui-honey: "f1b1",
        ui-hourglass: "f1b2",
        ui-icons: "f1b3",
        ui-id-card: "f1b4",
        ui-info: "f1b5",
        ui-jack-o-lantern: "f1b6",
        ui-key: "f1b7",
        ui-language: "f1b8",
        ui-layout: "f1b9",
        ui-life-ring: "f1ba",
        ui-lightbulb-on: "f1bb",
        ui-lightbulb-slash: "f1bc",
        ui-lightbulb: "f1bd",
        ui-link: "f1be",
        ui-list: "f1bf",
        ui-location-crosshairs: "f1c0",
        ui-location-dot: "f1c1",
        ui-location-map: "f1c2",
        ui-lock: "f1c3",
        ui-magic: "f1c4",
        ui-magnet: "f1c5",
        ui-mailbox: "f1c6",
        ui-memo-pad: "f1c7",
        ui-memo: "f1c8",
        ui-microchip: "f1c9",
        ui-minus-square: "f1ca",
        ui-minus: "f1cb",
        ui-mobile-phone: "f1cc",
        ui-network: "f1cd",
        ui-newspaper: "f1ce",
        ui-object-ungroup: "f1cf",
        ui-paint-brush: "f1d0",
        ui-palette: "f1d1",
        ui-paper-plane-top: "f1d2",
        ui-paper-plane: "f1d3",
        ui-paperclip: "f1d4",
        ui-paste: "f1d5",
        ui-pause: "f1d6",
        ui-pen-nib: "f1d7",
        ui-pencil: "f1d8",
        ui-photo: "f1d9",
        ui-play: "f1da",
        ui-plug: "f1db",
        ui-plus-square: "f1dc",
        ui-plus: "f1dd",
        ui-poll: "f1de",
        ui-puzzle: "f1df",
        ui-qrcode: "f1e0",
        ui-question-sqaure: "f1e1",
        ui-question: "f1e2",
        ui-quote-left: "f1e3",
        ui-radar: "f1e4",
        ui-reply: "f1e5",
        ui-ribbon: "f1e6",
        ui-robot: "f1e7",
        ui-rocket: "f1e8",
        ui-rss: "f1e9",
        ui-search-plus: "f1ea",
        ui-search: "f1eb",
        ui-server: "f1ec",
        ui-share: "f1ed",
        ui-shield-check: "f1ee",
        ui-shield-slash: "f1ef",
        ui-shield: "f1f0",
        ui-shopping-bag: "f1f1",
        ui-shopping-cart: "f1f2",
        ui-shortcode: "f1f3",
        ui-sidebar: "f1f4",
        ui-signal: "f1f5",
        ui-sitemap: "f1f6",
        ui-sliders-base: "f1f7",
        ui-sliders: "f1f8",
        ui-spider: "f1f9",
        ui-spinner: "f1fa",
        ui-square-share: "f1fb",
        ui-star: "f1fc",
        ui-sun: "f1fd",
        ui-sync: "f1fe",
        ui-table: "f1ff",
        ui-tablet: "f200",
        ui-target: "f201",
        ui-tasks: "f202",
        ui-term: "f203",
        ui-tag: "f203",
        ui-terms: "f204",
        ui-tags: "f204",
        ui-thumbs-up: "f205",
        ui-thumbtack: "f206",
        ui-times: "f207",
        ui-toggle-off: "f208",
        ui-toggle-on: "f209",
        ui-toggle-slash: "f20a",
        ui-toolbox: "f20b",
        ui-tools: "f20c",
        ui-traffic: "f20d",
        ui-trash: "f20e",
        ui-tree-christmas: "f20f",
        ui-umbrella-beach: "f210",
        ui-unlock: "f211",
        ui-upload: "f212",
        ui-user-circle: "f213",
        ui-user-group: "f214",
        ui-user-lock: "f215",
        ui-user-secret: "f216",
        ui-user-square: "f217",
        ui-user-tag: "f218",
        ui-user: "f219",
        ui-users: "f21a",
        ui-video: "f21b",
        ui-vote-nay: "f21c",
        ui-vote-yea: "f21d",
        ui-warning-octagon: "f21e",
        ui-warning-triangle: "f21f",
        ui-warning: "f220",
        ui-wrench: "f221",
        ui-arrow-right: "f148",
        ui-arrow-up: "f148",
        ui-arrow-down: "f148",
        ui-angles-right: "f146",
        ui-angles-up: "f146",
        ui-angles-down: "f146",
        ui-chevron-right: "f170",
        ui-chevron-up: "f170",
        ui-chevron-down: "f170",
        ui-chevron-square-right: "f171",
        ui-chevron-square-up: "f171",
        ui-chevron-square-down: "f171",
        ui-caret-up: "f167",
        ui-caret-left: "f167",
        ui-caret-right: "f167",
        ui-poll-horizontal: "f1de",
        ui-quote-right: "f1e3",
        ui-sliders-hor: "f1f8",
        ui-sliders-base-hor: "f1f7"
);
$rotate: (
        ui-arrow-right: 180,
        ui-arrow-up: 90,
        ui-arrow-down: 270,
        ui-angles-right: 180,
        ui-angles-up: 90,
        ui-angles-down: 270,
        ui-chevron-right: 180,
        ui-chevron-up: 90,
        ui-chevron-down: 270,
        ui-chevron-square-right: 180,
        ui-chevron-square-up: 90,
        ui-chevron-square-down: 270,
        ui-caret-up: 180,
        ui-caret-left: 90,
        ui-caret-right: 270,
        ui-poll-horizontal: 90,
        ui-quote-right: 180,
        ui-sliders-hor: 90,
        ui-sliders-base-hor: 90
);

