.d4plib-meta-box-wrapper {
    box-sizing: border-box;
    margin: 1.5em 0;

    * {
        box-sizing: border-box;
    }

    div.d4p-ctrl-tabs-content {
        max-height: 360px;
        padding: 1.5em;

        > p {
            margin: 1em 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .d4plib-meta-box-element {
        &:not(:last-child) {
            margin: 0 0 10px;
            padding: 0 0 10px;
            border-bottom: 1px solid #DDD;
        }

        .d4plib-meta-box-element-inner > label,
        > label {
            font-weight: bold;
            display: block;
            line-height: 2;
        }

        .d4p-setting-checkboxes,
        .d4p-setting-checkboxes-hierarchy {
            margin: 5px 0 0;

            .d4p-wrapper-hierarchy {
                max-height: 250px;
                padding: 5px 0;
                overflow: auto;
                margin: 0;
                line-height: 1.5;

                li {
                    margin: 0;
                }

                ul.children {
                    margin-left: 12px;
                }
            }
        }

        .d4p-setting-checkboxes {
            .d4p-content-wrapper {
                max-height: 250px;
                padding: 5px 0;
                overflow: auto;
                margin: 0;
                line-height: 1.5;

                label {
                    display: block;
                }
            }
        }

        .d4p-check-uncheck {
            font-size: .9em;
            padding: 0 0 5px;
            margin: 0 0 5px;
            border-bottom: 1px dotted #CCC;

            a {
                text-decoration: none;

                &.d4p-check-all {
                    margin-right: 10px;
                }

                i {
                    vertical-align: -2px;
                }
            }
        }
    }
}
