.d4p-wrap {
    margin: 0 0 0 15px;

    .d4p-header {
        .d4p-navigator {
            float: right;

            ul li.d4p-nav-button {
                float: right;
                margin-right: 0;
                margin-left: 30px;

                &:last-child {
                    margin-left: 0;
                }
            }
        }

        .d4p-plugin {
            float: left;
        }
    }

    .d4p-main {
        .d4p-inside-wrapper {
            .d4p-sidebar {
                float: right;
                padding: 15px 0 15px 15px;
            }

            .d4p-content {
                padding: 15px 15px 15px 0;
                border-left: 0;
                border-right: 1px solid #777;

                .d4p-group {
                    &.d4p-dashboard-card {
                        &:nth-child(odd) {
                            margin-right: 0;
                            margin-left: 15px;
                        }

                        .d4p-group-inner {
                            ul {
                                &.d4p-with-bullets {
                                    margin-left: 0;
                                    margin-right: 20px;
                                }
                            }
                        }

                        .d4p-card-badge {
                            margin-left: 0;
                            margin-right: 5px;

                            .d4p-icon {
                                margin-right: 0;
                                margin-left: 5px;
                            }

                            &.d4p-badge-right {
                                float: left;
                            }
                        }

                        .d4p-group-header {
                            text-align: right;
                        }

                        .d4p-group-inner,
                        .d4p-group-header,
                        .d4p-group-footer {
                            ul {
                                li {
                                    &:nth-child(odd) {
                                        padding-right: 0;
                                        padding-left: 10px;
                                    }

                                    &:nth-child(even) {
                                        padding-left: 0;
                                        padding-right: 10px;
                                    }
                                }
                            }
                        }

                        .d4p-status-message {
                            text-align: right;
                        }

                        .d4p-dashboard-status-row {
                            .d4p-type-toggle {
                                margin: 0 0 0 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.d4p-options-panel {
    float: right;
    margin: 0 0 15px 15px;

    i {
        float: right;
        margin-right: 0;
        margin-left: 15px;
    }

    h5 {
        margin: 0 85px 10px 0;
        text-align: right;
    }

    div {
        text-align: left;
        margin: 0 85px 0 0;
    }
}

.d4p-panel-break {
    h1 {
        padding: 5px 15px 5px 30px;

        i {
            margin: 0 0 0 7px;
        }
    }
}

.d4p-group {
    float: right;
}

.d4p-settings-section {
    h4 {
        text-align: right;

        span {
            margin: 0 15px 0 0;
        }
    }
}

.d4p-settings-table {
    > tbody > tr {
        > th {
            padding: 10px 0 10px 15px;
        }

        > th,
        > td {
            text-align: right;
        }
    }

    .d4p-setting-wrapper {
        .d4p-check-uncheck {
            a {
                display: inline-block;

                &.d4p-check-all {
                    margin-left: 10px;
                    margin-right: 0;
                }
            }
        }
    }
}
