:root {
    --d4p-grid-table-base-font-size: 1em;
    --d4p-grid-table-border: #333;
    --d4p-grid-table-header-background: #333;
    --d4p-grid-table-header-text: #FFF;
    --d4p-grid-table-header-cell-border: #000;
    --d4p-grid-table-body-cell-border: #BBB;
}

table.d4p-grid-table {
    font-size: var(--d4p-grid-table-base-font-size);
    border: 1px solid var(--d4p-grid-table-border);
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    thead {
        background: var(--d4p-grid-table-header-background);
        color: var(--d4p-grid-table-header-text);

        a {
            color: var(--d4p-grid-table-header-text);
            text-decoration: none;
        }

        tr {
            th {
                text-align: left;
                padding: .5em;
                border: none;
                border-right: 1px solid var(--d4p-grid-table-header-cell-border);

                a {
                    display: flex;
                    align-items: center;

                    :first-child {
                        flex: 1;
                    }
                }

                .sorting-icon {
                    visibility: hidden;
                    font-size: .8em;
                }

                &.sorted,
                &:hover {
                    .sorting-icon {
                        visibility: visible;
                    }
                }
            }
        }
    }

    tbody {
        tr {
            td {
                text-align: left;
                padding: .5em;
                border: none;
                border-right: 1px solid var(--d4p-grid-table-body-cell-border);
                border-bottom: 1px solid var(--d4p-grid-table-body-cell-border);

                a {
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }
    }

    thead,
    tbody {
        tr {
            td, th {
                &:last-child {
                    border-right: none;
                }
            }

            &:last-child {
                td, th {
                    border-bottom: none;
                }
            }
        }
    }

    @media (max-width: 767px) {
        border: none;

        thead {
            display: none;
        }

        tbody {
            tr {
                border: 1px solid var(--d4p-grid-table-border);
                margin-bottom: 1em;
                display: block;

                td {
                    border-right: none;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:before {
                        display: block;
                        border-bottom: 1px solid #F0F0F0;
                        content: attr(data-label);
                        text-transform: uppercase;
                        font-size: 90%;
                    }
                }
            }
        }
    }

    @media (max-width: 429px) {
        tbody {
            tr {
                td {
                    display: block;
                }
            }
        }
    }

    @media (max-width: 767px) and (min-width: 430px) {
        tbody {
            tr {
                td {
                    padding: 0;
                    display: flex;

                    &:before {
                        flex: 1 0 25%;
                        padding: .5em;
                        content: attr(data-label);
                        text-transform: uppercase;
                        font-size: 90%;
                        background: #F0F0F0;
                        word-break: break-all;
                        border-right: 1px solid var(--d4p-grid-table-border);
                    }

                    .cell-wrapper {
                        flex: 0 1 75%;
                        padding: .5em;
                    }
                }
            }
        }
    }
}
