.d4p-update-info {
  float: left;
}
.d4p-update-info .d4p-install-block {
  margin: 0 0 15px;
}
.d4p-update-info .d4p-install-block h4 {
  margin: 0 0 10px;
}
.d4p-update-info .d4p-install-block h5 {
  margin: 10px 0;
}
.d4p-update-info .d4p-install-confirm {
  margin: 15px 0 0;
  padding: 15px 0 0;
  border-top: 1px solid #777;
}

.d4p-group-updater .d4p-install-block {
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 15px;
  padding: 0 0 15px;
  border-bottom: 1px solid #ddd;
}
.d4p-group-updater .d4p-install-block h4 {
  margin: 0 0 10px;
  font-size: 1.3em;
}
.d4p-group-updater .d4p-install-block h5 {
  margin: 10px 0;
  font-size: 1.15em;
}
.d4p-group-updater .d4p-install-block:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}

.d4p-wrap,
.d4p-wrap * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.d4p-sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.d4p-return-to-top {
  text-align: right;
  margin: 15px 0 0;
  border-top: 1px dotted #cccccc;
  padding: 5px 0 0;
  text-transform: lowercase;
}

.d4p-wrap {
  margin: 0 15px 0 0;
}
.d4p-wrap a,
.d4p-wrap :focus {
  box-shadow: none;
}
.d4p-wrap .d4p-message .notice {
  margin: 0;
  box-shadow: none;
  border-top: 0;
  padding: 15px;
  font-size: 14px;
}
.d4p-wrap .d4p-message .notice .notice-dismiss {
  padding: 14px;
}
.d4p-wrap .d4p-header {
  border-bottom: 1px solid #777777;
  margin: 35px 0 0;
  padding: 0 0 10px;
  height: 45px;
}
.d4p-wrap .d4p-header .d4p-plugin {
  float: right;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -2px;
}
.d4p-wrap .d4p-header .d4p-navigator {
  float: left;
}
.d4p-wrap .d4p-header .d4p-navigator a {
  text-decoration: none;
  color: #0074A2;
}
.d4p-wrap .d4p-header .d4p-navigator li {
  margin: 0;
}
.d4p-wrap .d4p-header .d4p-navigator ul {
  margin: 0;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button {
  margin-right: 30px;
  float: left;
  position: relative;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button:last-child {
  margin-right: 0;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button > a {
  position: relative;
  display: inline-block;
  outline: none;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  padding: 7px 10px;
  margin: 0;
  width: 235px;
  white-space: nowrap;
  overflow: hidden;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button ul {
  display: none;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 28px;
  padding: 5px 0px;
  position: absolute;
  top: 33px;
  width: 235px;
  z-index: 100;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button ul a {
  display: block;
  padding: 0 10px;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button ul a:hover {
  background: #0074A2;
  color: #ffffff;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button ul .d4p-nav-current {
  display: block;
  padding: 0 10px;
  background: #444444;
  color: #ffffff;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button ul .d4p-nav-current i.d4p-icon {
  line-height: inherit;
  vertical-align: bottom;
}
.d4p-wrap.d4p-with-sidebar .d4p-inside-wrapper .d4p-sidebar {
  float: left;
  padding: 15px 15px 15px 0;
  width: 250px;
  min-height: 320px;
}
.d4p-wrap.d4p-with-sidebar .d4p-inside-wrapper .d4p-content {
  padding: 15px 0 15px 15px;
  overflow: auto;
  border-left: 1px solid #777777;
  min-height: 320px;
}
.d4p-wrap.d4p-full-width .d4p-inside-wrapper {
  padding: 15px 0 0;
}
.d4p-wrap.d4p-full-width .d4p-inside-wrapper .d4p-content {
  min-height: 320px;
}
.d4p-wrap .d4p-sidebar .d4p-panel-title {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.1);
  margin: 0 0 15px;
  padding: 15px;
  text-align: center;
}
.d4p-wrap .d4p-sidebar .d4p-panel-title > i {
  font-size: 48px;
}
.d4p-wrap .d4p-sidebar .d4p-panel-title h3 {
  font-size: 28px;
  word-break: keep-all;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1;
  margin: 5px 0 0;
  padding: 0;
  text-transform: uppercase;
}
.d4p-wrap .d4p-sidebar .d4p-panel-title h4 {
  margin: 10px 0 0;
  padding: 10px 0 0;
  border-top: 1px solid #DDDDDD;
  font-size: 20px;
  line-height: 1.4;
}
.d4p-wrap .d4p-sidebar .d4p-panel-info {
  text-align: center;
}
.d4p-wrap .d4p-content .d4p-accessibility-button {
  margin: 15px 0 0;
  padding: 15px 0;
  border-top: 1px solid #777;
  max-width: 800px;
  text-align: center;
  clear: both;
}
.d4p-wrap .d4p-content .d4p-accessibility-button .button-primary {
  min-width: 160px;
}

.d4p-panel-links {
  margin: 15px 0 0;
  padding: 15px 0 0;
  border-top: 1px solid #DDDDDD;
}
.d4p-panel-links a {
  background: #FEFEFE;
  border-radius: 4px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  margin: 0 0 5px;
  text-align: center;
  text-decoration: none;
}

.d4p-panel-mark {
  position: relative;
  margin: 15px 0 0;
  padding: 15px 0 0;
  border-top: 1px solid #DDDDDD;
}
.d4p-panel-mark p {
  text-align: center;
  margin: 0 0 5px;
}
.d4p-panel-mark button {
  background: none;
  outline: none;
  border: none;
  position: absolute;
  padding: 0;
  margin: 0;
  right: 8px;
  bottom: 8px;
  color: #111;
  cursor: pointer;
}

.d4p-panel-buttons {
  margin: 15px 0 0;
  padding: 15px 0 0;
  border-top: 1px solid #DDDDDD;
}
.d4p-panel-buttons .button-primary {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  height: 44px;
  line-height: 40px;
  text-align: center;
}
.d4p-panel-buttons .button-secondary {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  height: 32px;
  line-height: 28px;
}

.d4p-panel-break {
  border-bottom: 4px solid #555;
  margin: 0 0 15px;
  padding: 0;
}
.d4p-panel-break h1 {
  background-color: #555;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  margin: 0 0 0 20px;
  padding: 5px 30px 5px 15px;
}
.d4p-panel-break h1 i {
  margin: 0 7px 0 0;
  font-size: 18px;
}

.d4p-panel-group-break {
  border-bottom: 2px solid #777;
  margin: 0 0 15px;
  padding: 0;
}
.d4p-panel-group-break h2 {
  background-color: #777;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 0 0 20px;
  padding: 5px 20px 5px 15px;
}
.d4p-panel-group-break h2 i {
  margin: 0 4px 0 0;
  font-size: 16px;
}

.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-dashboard-badge {
  padding: 15px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-dashboard-badge * {
  color: #ffffff;
}
.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-dashboard-badge h3 {
  word-break: keep-all;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 5px 0 15px;
  padding: 0;
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 30px;
}
.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-dashboard-badge h5 {
  margin: 0;
  padding: 10px 0 0;
  border-top: 1px solid #ddd;
  font-size: 1.3em;
  text-align: right;
}
.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-links-group {
  margin: 15px 0 0;
  padding: 15px 0 0;
  border-top: 1px solid #ddd;
}
.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-links-group a {
  display: block;
  margin: 0 0 5px;
}
.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-links-group a i {
  font-size: 110%;
  width: 1.3em;
  text-align: center;
}
.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-links-group a span {
  font-size: 120%;
  font-weight: bold;
}

/* Dashboard */
.d4p-plugin-dashboard .d4p-buttons-group .button-primary,
.d4p-plugin-dashboard .d4p-buttons-group .button-secondary {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  height: 32px;
  line-height: 28px;
  margin: 0 0 5px;
}

.d4p-plugin-dashboard .d4p-buttons-group .button-primary:last-child,
.d4p-plugin-dashboard .d4p-buttons-group .button-secondary:last-child {
  margin: 0;
}

.d4p-group-dashboard-card {
  clear: none;
  text-align: left;
  width: calc(50% - 15px);
  max-width: 600px;
  margin-right: 15px;
}

.d4p-group-dashboard-card.d4p-double-card {
  width: calc(100% - 15px);
  max-width: 1215px;
}

.d4p-group-dashboard-card .d4p-group-stats {
  border-bottom: 1px solid #eee;
  padding: 8px 12px;
  background: #fafafa;
}

.d4p-group-dashboard-card .d4p-group-inner {
  padding: 8px 12px;
}

.d4p-group-dashboard-card .d4p-group-footer {
  border-top: 1px solid #eee;
  padding: 8px 12px;
}

.d4p-group-dashboard-card .d4p-group-inner h4 {
  margin: 0 0 0.5em;
}

.d4p-group-dashboard-card .d4p-group-stats ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.d4p-group-dashboard-card .d4p-group-stats ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2em;
  font-size: 1em;
  width: 50%;
  float: left;
}

.d4p-group-dashboard-card .d4p-group-stats ul li a i {
  color: #666;
}

.d4p-group-dashboard-card .d4p-group-stats ul li a strong {
  font-weight: 700;
}

.d4p-group-dashboard-card .d4p-group-stats ul li a {
  text-decoration: none;
}

.d4p-group-dashboard-card .d4p-group-inner a {
  display: block;
}

#dev4press-recommend {
  margin-left: 10px;
  float: right;
  width: 340px;
}
#dev4press-recommend > div {
  background-color: #333333;
  border: 2px solid #111111;
  color: #ffffff;
  padding: 0px;
  margin-bottom: 10px;
  width: 340px;
}
#dev4press-recommend a,
#dev4press-recommend a:hover {
  color: #ffffff;
  text-decoration: none;
}
#dev4press-recommend h5 {
  background-color: #777777;
  color: #ffffff;
  padding: 7px 0 10px;
  margin: 0 0 10px;
  text-align: center;
  font-size: 16px;
}
#dev4press-recommend h6 {
  font-size: 18px;
  margin: 0;
  line-height: 24px;
  padding: 5px 0 10px;
  text-align: center;
}
#dev4press-recommend .dev4press-plugin-inner {
  margin: 10px;
}
#dev4press-recommend .dev4press-plugin-inner em {
  line-height: 18px;
  font-size: 12px;
}
#dev4press-recommend .dev4press-plugin-thumb {
  float: left;
  margin: 0 10px 10px 0;
}
#dev4press-recommend .dev4press-plugin-thumb img {
  width: 92px;
  height: 92px;
}
#dev4press-recommend .dev4press-plugin-thumb i {
  font-size: 96px;
  width: 96px;
  height: 96px;
  display: block;
}
#dev4press-recommend .dev4press-plugin-links {
  clear: both;
  margin: 10px 0 0;
  padding: 10px 0 0;
  border-top: 1px solid #f8f8f8;
}
#dev4press-recommend .dev4press-plugin-links a {
  margin: 0 1%;
  width: 31.33%;
  text-align: center;
}
#dev4press-recommend .dev4press-plugin-links a.button-secondary {
  color: #111111;
  box-shadow: none;
}
#dev4press-recommend .dev4press-plugin-links a.dev4press-buynow {
  background: #BA0000;
  box-shadow: none;
  border-color: #f0f0f0;
  text-shadow: 0 -1px 1px #990000, 1px 0 1px #990000, 0 1px 1px #990000, -1px 0 1px #990000;
}

.d4p-group-divider {
  margin: 10px 0 15px;
  float: left;
  text-align: center;
  max-width: 800px;
  width: 100%;
  clear: both;
  font-size: 2em;
  overflow: auto;
  line-height: normal;
  padding: 5px 0 0;
  border-top: 2px solid #DDDDDD;
}

.d4p-options-panel {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  margin: 0 15px 15px 0;
  padding: 15px;
  float: left;
  text-align: center;
  width: 400px;
  overflow: auto;
}
.d4p-options-panel i {
  float: left;
  font-size: 5em;
  margin-right: 15px;
  text-align: center;
  width: 1em;
}
.d4p-options-panel h5 {
  margin: 0 0 10px 85px;
  padding: 0 0 5px;
  text-align: left;
  font-size: 20px;
  border-bottom: 1px solid #DDDDDD;
}
.d4p-options-panel div {
  text-align: right;
  margin: 0 0 0 85px;
}
.d4p-options-panel div span {
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
}
.d4p-options-panel div a.button-primary {
  padding: 0 20px 1px;
}

.d4p-group {
  background: #FFF;
  border: 1px solid #BBB;
  margin: 0 0 15px;
  float: left;
  text-align: center;
  max-width: 800px;
  width: 100%;
  clear: both;
  overflow: auto;
}
.d4p-group h3 {
  margin: 0;
  background: #E0E0E0;
  color: #111;
  border-bottom: 1px solid #BBB;
  text-align: left;
  padding: 10px;
  line-height: 120%;
  vertical-align: top;
}
.d4p-group h3 i {
  float: right;
  cursor: pointer;
}
.d4p-group h3 textarea {
  height: 160px;
}
.d4p-group h3 .d4p-kb-group {
  float: right;
  background: #cc0000;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 14px;
}
.d4p-group.d4p-hidden-group {
  display: none;
}
.d4p-group .d4p-group-inner {
  padding: 15px;
  text-align: left;
}
.d4p-group .d4p-group-inner > *:first-child {
  margin-top: 0;
}
.d4p-group .d4p-group-inner > *:last-child {
  margin-bottom: 0;
}

.d4p-group-error {
  border-color: #dd0000;
}
.d4p-group-error h3 {
  background: #dd0000;
  color: #ffffff;
}
.d4p-group-error .d4p-group-inner {
  text-align: left;
}
.d4p-group-error .d4p-group-inner p {
  margin-top: 0;
  font-weight: bold;
}
.d4p-group-error .d4p-group-inner ul {
  margin: 0;
  list-style: inside;
}

.d4p-wrap.d4p-with-table .tablenav {
  height: auto;
  margin: 10px 0;
  padding: 0;
}

.d4p-dialog.d4p-dialog-hidex .ui-dialog-titlebar button {
  display: none;
}
.d4p-dialog .ui-dialog-buttonset .ui-button i.d4p-icon {
  font-size: 115%;
}

.d4p-group.d4p-group-information ul {
  list-style: inside;
}

.d4p-group-inner input[type=text],
.d4p-group-inner input[type=email],
.d4p-group-inner input[type=url],
.d4p-group-inner input[type=password] {
  line-height: 24px;
}

.d4p-group-inner select {
  height: 32px;
}

.d4p-group-inner .d4p-setting-code > .CodeMirror {
  border: 1px solid #dddddd;
}

.d4p-field-unit {
  margin-left: 8px;
}

.d4p-setting-checkboxes label,
.d4p-setting-radios label {
  display: block;
  margin: 0 0 4px;
}

.d4p-setting-expandable_raw ol,
.d4p-setting-expandable_text ol {
  list-style: none;
  margin: 0 0 0.5em;
}

.d4p-setting-expandable_raw .exp-text-element a,
.d4p-setting-expandable_text .exp-text-element a {
  margin-left: 10px;
  text-align: center;
  height: 30px;
  line-height: 28px;
}

.d4p-setting-expandable_pairs > div {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 0 0 10px;
}

.d4p-setting-expandable_pairs > div a {
  font-size: 0.9em;
}

.d4p-setting-expandable_pairs > div input {
  margin: 0 0 5px;
}

.d4p-panel-buttons input.button-primary {
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  width: 100%;
}

.d4p-group-important .d4p-group-inner {
  text-align: left;
  font-weight: bold;
}

.d4p-group-tools {
  text-align: left;
}

.d4p-group-tools label {
  display: block;
  margin: 0 0 4px;
}

.d4p-page-front .d4p-content {
  margin: 15px 0 0;
  overflow: auto;
}

.d4p-front-left {
  float: left;
  margin: 0 15px 15px 0;
}

.d4p-front-right {
  margin-left: 570px;
}

.d4p-page-front .d4p-content .d4p-options-panel {
  width: 320px;
  height: 118px;
  margin: 0 15px 14px 0;
}

.d4p-page-front .d4p-content .d4p-options-panel i {
  font-size: 5.5em;
  margin-top: 8px;
}

.d4p-page-front .d4p-content .d4p-options-panel h5 {
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 30px;
  margin: 0 0 20px 90px;
}

.d4p-front-title {
  width: 555px;
  height: 250px;
  text-align: right;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 16px 15px;
  margin: 0 0 5px;
}

.d4p-front-title h1 {
  font-weight: bold;
  color: #222222;
  line-height: 0.85;
  width: 520px;
  margin: 0 0 15px;
}

.d4p-front-title h1 span {
  display: block;
  white-space: nowrap;
}

.d4p-front-title h5 {
  border-top: 1px solid #777777;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

.d4p-front-dev4press {
  text-align: right;
  width: 555px;
}

.d4p-setting-color .wp-color-result {
  height: 24px;
  padding-left: 36px;
  margin: 0 8px 0 0;
}

.d4p-setting-color .wp-picker-container input.wp-color-picker[type=text] {
  height: 24px;
}

.d4p-check-uncheck {
  font-size: 0.9em;
  padding: 0 0 5px;
  margin: 0 0 5px;
  border-bottom: 1px dotted #cccccc;
}

.d4plib-button-inner {
  margin: 0 5px 0 0 !important;
}

.d4plib-button-action {
  margin: 0 5px 0 0 !important;
  height: 22px !important;
  line-height: 20px !important;
  padding: 0 6px 1px !important;
}

.d4p-grid-hide-bulkactions .actions.bulkactions {
  display: none;
}

.d4p-section-toggle {
  margin: 10px 0 0;
  border: 1px solid #dddddd;
}

.d4p-section-toggle .d4p-toggle-title {
  background-color: #dddddd;
  padding: 5px;
  color: #222222;
  cursor: pointer;
}

.d4p-section-toggle .d4p-toggle-content {
  padding: 5px;
  overflow: auto;
  height: 115px;
}

.d4p-section-toggle.d4p-free-height .d4p-toggle-content {
  height: auto;
}

.d4p-section-toggle.d4p-free-height .form-table {
  margin: 0;
}

.d4p-section-toggle.d4p-free-height .form-table > tbody > tr > * {
  line-height: 22px;
  width: auto;
  padding: 2px 0;
}

.d4p-section-toggle.d4p-free-height .form-table code {
  font-style: normal;
}

.d4p-content-topinfo {
  text-align: left;
  background: #ffffff;
  border: 1px solid #dddddd;
  color: #111111;
  margin: 0 0 15px 0;
  overflow: auto;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}

.d4p-content-topinfo.d4p-topinfo-ok {
  border-color: #7AD03A;
  background: #E6FBE4;
  color: #2C6500;
}

.d4p-content-topinfo.d4p-topinfo-ok hr {
  border-color: transparent transparent #7AD03A;
}

.d4p-content-topinfo.d4p-topinfo-error {
  border-color: #DD3D36;
  background: #FBE4E4;
  color: #652C00;
}

.d4p-content-topinfo.d4p-topinfo-error hr {
  border-color: transparent transparent #DD3D36;
}

.d4p-group .wide-half {
  width: 49%;
}

.d4p-group .wide-half-margin {
  width: 49%;
  margin-right: 1%;
}

.d4p-group .wide-third {
  width: 32%;
}

.d4p-group .wide-twothird {
  width: 66%;
}

.d4p-group .wide-third-margin {
  margin-right: 1%;
  vertical-align: middle;
  width: 32%;
}

.d4p-group .wide-twothird-margin {
  width: 66%;
  margin-right: 1%;
}

.d4p-table-help {
  margin: 1em 0;
  width: 100%;
}

.d4p-table-help thead {
  background-color: #dddddd;
  color: #000000;
  font-weight: bold;
}

.d4p-table-help th, .d4p-table-help td {
  text-align: left;
  padding: 2px 5px;
}

.d4p-table-help thead th:first-of-type {
  width: 33%;
}

.d4p-table-help thead th, .d4p-table-help thead td {
  font-size: 95%;
}

.d4p-table-help tbody th, .d4p-table-help tbody td {
  font-size: 90%;
  border-bottom: 1px dotted #cccccc;
}

.d4p-settings-item-error th {
  border-left: 3px solid #dd0000 !important;
  padding: 10px !important;
  background-color: #FFEBEB;
}

.d4p-settings-item-error td {
  padding: 10px 10px 10px 0 !important;
  background-color: #FFEBEB;
}

.d4p-wrapper-hierarchy {
  margin: 0;
}

.d4p-wrapper-hierarchy li {
  margin: 2px 0;
}

.d4p-wrapper-hierarchy ul.children {
  margin-left: 12px;
}

.d4p-content-wrapper {
  border: 1px solid #ddd;
  padding: 5px 10px;
  max-height: 160px;
  overflow: auto;
}

.d4p-settings-table > tbody > tr > td {
  vertical-align: top;
}

.d4p-group-inner p:first-of-type {
  margin-top: 0;
}

.d4p-group-inner p:last-of-type {
  margin-bottom: 0;
}

.d4p-wrap .pagination-links,
.d4p-wrap .pagination-links * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

.d4p-notice-info {
  background: #fff;
  border-left: 4px solid #00a0d2;
  padding: 12px;
  margin: 15px 0;
}

.d4p-notice-info blockquote {
  margin: 15px 0;
  padding-left: 5px;
  border-left: 2px solid #ddd;
  font-style: italic;
}
