.d4plib-v51-meta-box-wrapper {
  box-sizing: border-box;
}
.d4plib-v51-meta-box-wrapper * {
  box-sizing: border-box;
}
.d4plib-v51-meta-box-wrapper hr {
  margin: 1em 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.d4plib-v51-meta-box-wrapper .wp-tab-bar {
  margin-bottom: 5px;
}
.d4plib-v51-meta-box-wrapper .wp-tab-bar li {
  padding: 5px 10px 8px;
}
.d4plib-v51-meta-box-wrapper .wp-tab-bar li button {
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
}
.d4plib-v51-meta-box-wrapper .wp-tab-bar li button i.d4p-icon {
  margin-right: 4px;
}
.d4plib-v51-meta-box-wrapper .wp-tab-bar li.wp-tab-active button {
  color: var(--wp-admin-theme-color);
}
.d4plib-v51-meta-box-wrapper .wp-tab-bar li span.dashicons {
  margin-right: 4px;
}
.d4plib-v51-meta-box-wrapper .wp-tab-panel {
  max-height: 360px;
  padding: 1em;
  overflow: auto;
}
.d4plib-v51-meta-box-wrapper h3 {
  margin: 0 0 0.75em;
  font-size: 1.4em;
}
.d4plib-v51-meta-box-wrapper h4 {
  margin: 0 0 0.5em;
  font-size: 1.2em;
}
.d4plib-v51-meta-box-wrapper .__row {
  display: flex;
  column-gap: 2em;
  row-gap: 1em;
  margin: 0 0 1em;
}
.d4plib-v51-meta-box-wrapper .__row .__column {
  flex: 0 1 100%;
}
.d4plib-v51-meta-box-wrapper .__row .__column:empty {
  display: none;
}
.d4plib-v51-meta-box-wrapper .__row.__col-two .__column {
  flex-basis: calc((100% - 2em) / 2);
}
.d4plib-v51-meta-box-wrapper .__row.__col-three .__column {
  flex-basis: calc((100% - 4em) / 3);
}
.d4plib-v51-meta-box-wrapper .__row.__col-three .__column_expanded {
  flex-basis: calc(100% - (100% - 4em) / 3);
}
.d4plib-v51-meta-box-wrapper .__row:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .d4plib-v51-meta-box-wrapper .__row {
    flex-direction: column;
  }
  .d4plib-v51-meta-box-wrapper .__row.__col-three .__column, .d4plib-v51-meta-box-wrapper .__row.__col-two .__column {
    flex-basis: 100%;
  }
  .d4plib-v51-meta-box-wrapper .__row.__col-three .__column:last-child, .d4plib-v51-meta-box-wrapper .__row.__col-two .__column:last-child {
    margin-bottom: 0;
  }
}
.d4plib-v51-meta-box-wrapper p,
.d4plib-v51-meta-box-wrapper .__element {
  margin: 1em 0;
}
.d4plib-v51-meta-box-wrapper p:first-child,
.d4plib-v51-meta-box-wrapper .__element:first-child {
  margin-top: 0;
}
.d4plib-v51-meta-box-wrapper p:last-child,
.d4plib-v51-meta-box-wrapper .__element:last-child {
  margin-bottom: 0;
}
.d4plib-v51-meta-box-wrapper p label,
.d4plib-v51-meta-box-wrapper .__element label {
  font-size: 1.1em;
  font-weight: 500;
}
.d4plib-v51-meta-box-wrapper p select,
.d4plib-v51-meta-box-wrapper p input:not([type=checkbox]):not([type=radio]),
.d4plib-v51-meta-box-wrapper .__element select,
.d4plib-v51-meta-box-wrapper .__element input:not([type=checkbox]):not([type=radio]) {
  display: block;
  margin-top: 0.25em;
}
.d4plib-v51-meta-box-wrapper p em,
.d4plib-v51-meta-box-wrapper .__element em {
  display: block;
  margin-top: 0.25em;
}
.d4plib-v51-meta-box-wrapper .__element .d4p-setting-checkboxes .d4p-inside-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.d4plib-v51-meta-box-wrapper .__element .d4p-setting-checkboxes .d4p-inside-wrapper label {
  flex: 1 1 50%;
  font-weight: normal;
  word-break: break-all;
}
@media screen and (max-width: 599px) {
  .d4plib-v51-meta-box-wrapper .__element .d4p-setting-checkboxes .d4p-inside-wrapper {
    flex-direction: column;
  }
  .d4plib-v51-meta-box-wrapper .__element .d4p-setting-checkboxes .d4p-inside-wrapper label {
    flex-basis: 100%;
  }
}
.d4plib-v51-meta-box-wrapper .__element .d4p-setting-checkbox label {
  font-weight: normal;
}

#side-sortables .d4plib-v51-meta-box-wrapper .wp-tab-bar li button span {
  display: none;
}
#side-sortables .d4plib-v51-meta-box-wrapper .__row {
  flex-direction: column;
}
#side-sortables .d4plib-v51-meta-box-wrapper .__row.__col-two .__column, #side-sortables .d4plib-v51-meta-box-wrapper .__row.__col-three .__column {
  flex-basis: 100%;
}
#side-sortables .d4plib-v51-meta-box-wrapper .__row.__col-two .__column:last-child, #side-sortables .d4plib-v51-meta-box-wrapper .__row.__col-three .__column:last-child {
  margin-bottom: 0;
}
#side-sortables .d4plib-v51-meta-box-wrapper .d4p-setting-checkboxes.d4p-columns-two .d4p-inside-wrapper, #side-sortables .d4plib-v51-meta-box-wrapper .d4p-setting-checkboxes.d4p-columns-three .d4p-inside-wrapper, #side-sortables .d4plib-v51-meta-box-wrapper .d4p-setting-checkboxes.d4p-columns-four .d4p-inside-wrapper, #side-sortables .d4plib-v51-meta-box-wrapper .d4p-setting-checkboxes.d4p-columns-five .d4p-inside-wrapper {
  column-count: 1;
}

.d4p-setting-checkboxes.d4p-setting-checkboxes-hierarchy .d4p-inside-wrapper {
  max-height: 250px;
  padding: 5px 0;
  overflow: auto;
  margin: 0;
  line-height: 1.5;
}
.d4p-setting-checkboxes.d4p-setting-checkboxes-hierarchy .d4p-inside-wrapper li {
  margin: 0;
}
.d4p-setting-checkboxes.d4p-setting-checkboxes-hierarchy .d4p-inside-wrapper ul.children {
  margin-left: 12px;
}
.d4p-setting-checkboxes .d4p-check-uncheck {
  font-size: 0.9em;
  padding: 0 0 5px;
  margin: 0 0 5px;
  border-bottom: 1px dotted #CCC;
}
.d4p-setting-checkboxes .d4p-check-uncheck a {
  text-decoration: none;
}
.d4p-setting-checkboxes .d4p-check-uncheck a.d4p-check-all {
  margin-right: 10px;
}
.d4p-setting-checkboxes .d4p-check-uncheck a i {
  vertical-align: -2px;
}
.d4p-setting-checkboxes.d4p-columns-two .d4p-inside-wrapper, .d4p-setting-checkboxes.d4p-columns-three .d4p-inside-wrapper, .d4p-setting-checkboxes.d4p-columns-four .d4p-inside-wrapper, .d4p-setting-checkboxes.d4p-columns-five .d4p-inside-wrapper {
  column-gap: 2em;
  column-rule: 1px solid #DDD;
}
.d4p-setting-checkboxes.d4p-columns-two .d4p-inside-wrapper {
  column-count: 2;
}
.d4p-setting-checkboxes.d4p-columns-three .d4p-inside-wrapper {
  column-count: 3;
}
.d4p-setting-checkboxes.d4p-columns-four .d4p-inside-wrapper {
  column-count: 4;
}
.d4p-setting-checkboxes.d4p-columns-five .d4p-inside-wrapper {
  column-count: 5;
}
@media screen and (max-width: 768px) {
  .d4p-setting-checkboxes label {
    font-size: 16px;
  }
  .d4p-setting-checkboxes.d4p-columns-three .d4p-inside-wrapper, .d4p-setting-checkboxes.d4p-columns-four .d4p-inside-wrapper, .d4p-setting-checkboxes.d4p-columns-five .d4p-inside-wrapper {
    column-count: 2;
  }
}
@media screen and (max-width: 479px) {
  .d4p-setting-checkboxes.d4p-columns-two .d4p-inside-wrapper, .d4p-setting-checkboxes.d4p-columns-three .d4p-inside-wrapper, .d4p-setting-checkboxes.d4p-columns-four .d4p-inside-wrapper, .d4p-setting-checkboxes.d4p-columns-five .d4p-inside-wrapper {
    column-count: 1;
  }
}

.d4p-background-job-messages-wrapper .d4p-background-job-messages {
  font-family: monospace;
  font-size: 0.9em;
  max-height: 415px;
  overflow: auto;
}
.d4p-background-job-messages-wrapper .d4p-background-job-messages ul {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.d4p-background-job-messages-wrapper .d4p-background-job-messages ul li.__message {
  display: flex;
  padding: 0.25em 0.5em;
  gap: 0.5em;
  align-items: center;
  justify-content: flex-start;
}
.d4p-background-job-messages-wrapper .d4p-background-job-messages ul li.__message > span {
  display: block;
}
.d4p-background-job-messages-wrapper .d4p-background-job-messages ul li.__message .__icon {
  background: #FFF;
  border-radius: 5px;
  padding: 0.1em 0.3em;
}
.d4p-background-job-messages-wrapper .d4p-background-job-messages ul li.__message.__message-info {
  background-color: #EBFFEF;
}
.d4p-background-job-messages-wrapper .d4p-background-job-messages ul li.__message.__message-activity {
  background-color: #DFE7FF;
}
.d4p-background-job-messages-wrapper .d4p-background-job-messages ul li.__message.__message-warning {
  background-color: #FFF1DD;
}
.d4p-background-job-messages-wrapper .d4p-background-job-messages ul li.__message.__message-error {
  background-color: #FFEBEB;
}
.d4p-background-job-messages-wrapper .d4p-background-job-messages ul li.__message.__message-system {
  background-color: #F8FFD2;
}
.d4p-background-job-messages-wrapper .d4p-background-job-loader {
  padding: 1em 0 0;
  display: none;
}
