.d4plib-meta-box-wrapper {
  box-sizing: border-box;
}
.d4plib-meta-box-wrapper * {
  box-sizing: border-box;
}
.d4plib-meta-box-wrapper ul.wp-tab-bar {
  margin: 12px 0 -1px;
}
.d4plib-meta-box-wrapper ul.wp-tab-bar a {
  box-shadow: none;
  outline: none;
}
.d4plib-meta-box-wrapper ul.wp-tab-bar li {
  display: inline-block;
  padding: 3px 5px 4px;
  margin: 0;
  position: relative;
}
.d4plib-meta-box-wrapper ul.wp-tab-bar li span.dashicons {
  font-size: 16px;
  height: 16px;
  margin: 2px 3px 0 0;
  vertical-align: top;
}
.d4plib-meta-box-wrapper div.wp-tab-panel {
  max-height: 360px;
}
.d4plib-meta-box-wrapper p {
  margin: 0.9em 0;
}
.d4plib-meta-box-wrapper p label {
  display: inline-block;
  margin-bottom: 2px;
}
.d4plib-meta-box-wrapper h4 {
  font-size: 1.1em;
  padding: 0;
  margin: 0.5em 0;
}
.d4plib-meta-box-wrapper .d4p-setting-checkboxes .d4p-wrapper-hierarchy,
.d4plib-meta-box-wrapper .d4p-setting-checkboxes-hierarchy .d4p-wrapper-hierarchy {
  margin: 0;
  padding: 3px;
  max-height: 200px;
  overflow: auto;
  line-height: 1.5;
}
.d4plib-meta-box-wrapper .d4p-setting-checkboxes .d4p-wrapper-hierarchy li,
.d4plib-meta-box-wrapper .d4p-setting-checkboxes-hierarchy .d4p-wrapper-hierarchy li {
  margin: 0;
}
.d4plib-meta-box-wrapper .d4p-setting-checkboxes .d4p-wrapper-hierarchy ul.children,
.d4plib-meta-box-wrapper .d4p-setting-checkboxes-hierarchy .d4p-wrapper-hierarchy ul.children {
  margin-left: 12px;
}
.d4plib-meta-box-wrapper .d4p-setting-checkboxes .d4p-content-wrapper {
  padding: 3px;
  max-height: 200px;
  overflow: auto;
}
.d4plib-meta-box-wrapper .d4p-setting-checkboxes .d4p-content-wrapper label {
  display: block;
}
.d4plib-meta-box-wrapper .d4p-check-uncheck {
  font-size: 0.9em;
  padding: 0 0 5px;
  margin: 0 0 5px;
  border-bottom: 1px dotted #CCC;
}
.d4plib-meta-box-wrapper .d4p-check-uncheck a {
  text-decoration: none;
}
.d4plib-meta-box-wrapper .d4p-check-uncheck a.d4p-check-all {
  margin-right: 10px;
}
.d4plib-meta-box-wrapper .d4p-check-uncheck a i {
  vertical-align: -2px;
}
.d4plib-meta-box-wrapper .__row {
  width: 100%;
  overflow: auto;
}
.d4plib-meta-box-wrapper .__row > div {
  float: left;
  padding: 0 10px;
}
.d4plib-meta-box-wrapper .__row > div.__column-half {
  width: 50%;
}
.d4plib-meta-box-wrapper .__row > div.__column-third {
  width: 33.33%;
}
.d4plib-meta-box-wrapper .__row > div.__column-two-thirds {
  width: 66.66%;
}
.d4plib-meta-box-wrapper .__row > div.__column-fourth {
  width: 25%;
}
.d4plib-meta-box-wrapper .__row > div.__column-three-fourths {
  width: 75%;
}
.d4plib-meta-box-wrapper .__row > div.__column-full {
  width: 100%;
  float: none;
}
.d4plib-meta-box-wrapper .__row > div:first-child {
  padding-left: 0;
}
.d4plib-meta-box-wrapper .__row > div:last-child {
  padding-right: 0;
}
.d4plib-meta-box-wrapper .__row > div .gdfon-rule-item:last-child {
  margin: 0 !important;
}

@media screen and (max-width: 720px) {
  .d4plib-meta-box-wrapper .__row > div {
    float: none;
  }
  .d4plib-meta-box-wrapper .__row > div.__column-third, .d4plib-meta-box-wrapper .__row > div.__column-half, .d4plib-meta-box-wrapper .__row > div.__column-two-ninths, .d4plib-meta-box-wrapper .__row > div.__column-fourth, .d4plib-meta-box-wrapper .__row > div.__column-three-fourths, .d4plib-meta-box-wrapper .__row > div.__column-two-thirds {
    width: 100%;
  }
  .d4plib-meta-box-wrapper .__row > div:first-child, .d4plib-meta-box-wrapper .__row > div:last-child {
    padding: 0;
  }
}
