@font-face {
  font-family: "dev4press";
  src: url("fonts/dev4press.eot?3.5.0");
  src: url("fonts/dev4press.eot?3.5.0#iefix") format("embedded-opentype"), url("fonts/dev4press.woff2?3.5.0") format("woff2"), url("fonts/dev4press.woff?3.5.0") format("woff"), url("fonts/dev4press.ttf?3.5.0") format("truetype"), url("fonts/dev4press.svg?3.5.0#dev4press") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
.d4p-icon {
  font: normal normal normal 14px "dev4press";
  font-size: inherit;
  text-transform: none;
  display: inline-block;
  vertical-align: text-bottom;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 > .d4p-icon, h2 > .d4p-icon, h3 > .d4p-icon, h4 > .d4p-icon, h5 > .d4p-icon, h6 > .d4p-icon {
  line-height: inherit;
  vertical-align: bottom;
}

a > .d4p-icon {
  line-height: normal;
}

/* Icons */
.d4p-icon.d4p-ui-chevron-right {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.d4p-icon.d4p-ui-caret-up {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.d4p-icon.d4p-ui-poll-horizontal {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.d4p-icon.d4p-ui-quote-right {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.d4p-icon.d4p-ui-sliders-hor {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.d4p-icon.d4p-ui-sliders-base-hor {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.d4p-icon.d4p-addon-gd-knowledge-base:before {
  content: "\f101";
}

.d4p-icon.d4p-addon-gd-mail-queue:before {
  content: "\f102";
}

.d4p-icon.d4p-addon-gd-press-tools:before {
  content: "\f103";
}

.d4p-icon.d4p-addon-gd-rating-system:before {
  content: "\f104";
}

.d4p-icon.d4p-brand-facebook:before {
  content: "\f105";
}

.d4p-icon.d4p-brand-instagram:before {
  content: "\f106";
}

.d4p-icon.d4p-brand-twitter:before {
  content: "\f107";
}

.d4p-icon.d4p-brand-wordpress:before {
  content: "\f108";
}

.d4p-icon.d4p-brand-youtube:before {
  content: "\f109";
}

.d4p-icon.d4p-club-icon-gd-bbpress-club:before {
  content: "\f10a";
}

.d4p-icon.d4p-club-icon-bbpress:before {
  content: "\f10a";
}

.d4p-icon.d4p-club-icon-gd-dev4press-plugins:before {
  content: "\f10b";
}

.d4p-icon.d4p-club-icon-dev4press:before {
  content: "\f10b";
}

.d4p-icon.d4p-club-icon-gd-rating-club:before {
  content: "\f10c";
}

.d4p-icon.d4p-club-icon-rating:before {
  content: "\f10c";
}

.d4p-icon.d4p-file-archive:before {
  content: "\f10d";
}

.d4p-icon.d4p-file-certificate:before {
  content: "\f10e";
}

.d4p-icon.d4p-file-import:before {
  content: "\f10f";
}

.d4p-icon.d4p-file-text:before {
  content: "\f110";
}

.d4p-icon.d4p-icon-bbpress-forum:before {
  content: "\f111";
}

.d4p-icon.d4p-icon-bbpress-reply:before {
  content: "\f112";
}

.d4p-icon.d4p-icon-bbpress-topic:before {
  content: "\f113";
}

.d4p-icon.d4p-icon-responsive:before {
  content: "\f114";
}

.d4p-icon.d4p-icon-snowflake:before {
  content: "\f115";
}

.d4p-icon.d4p-logo-bbpress:before {
  content: "\f116";
}

.d4p-icon.d4p-logo-buddypress:before {
  content: "\f117";
}

.d4p-icon.d4p-logo-dev4press-light:before {
  content: "\f118";
}

.d4p-icon.d4p-logo-jquery:before {
  content: "\f119";
}

.d4p-icon.d4p-logo-php:before {
  content: "\f11a";
}

.d4p-icon.d4p-logo-php-light:before {
  content: "\f11a";
}

.d4p-icon.d4p-logo-woo:before {
  content: "\f11b";
}

.d4p-icon.d4p-plugin-breadcrumbspress:before {
  content: "\f11c";
}

.d4p-icon.d4p-plugin-debugpress:before {
  content: "\f11d";
}

.d4p-icon.d4p-plugin-demopress:before {
  content: "\f11e";
}

.d4p-icon.d4p-plugin-dev4press-updater:before {
  content: "\f11f";
}

.d4p-icon.d4p-logo-dev4press:before {
  content: "\f11f";
}

.d4p-icon.d4p-plugin-gd-bbpress-attachments:before {
  content: "\f120";
}

.d4p-icon.d4p-plugin-gd-bbpress-toolbox:before {
  content: "\f121";
}

.d4p-icon.d4p-plugin-gd-bbpress-tools:before {
  content: "\f122";
}

.d4p-icon.d4p-plugin-gd-clever-widgets:before {
  content: "\f123";
}

.d4p-icon.d4p-plugin-gd-content-tools:before {
  content: "\f124";
}

.d4p-icon.d4p-plugin-gd-forum-manager:before {
  content: "\f125";
}

.d4p-icon.d4p-plugin-gd-forum-manager-for-bbpress:before {
  content: "\f125";
}

.d4p-icon.d4p-plugin-gd-forum-notices:before {
  content: "\f126";
}

.d4p-icon.d4p-plugin-gd-forum-notices-for-bbpress:before {
  content: "\f126";
}

.d4p-icon.d4p-plugin-gd-knowledge-base:before {
  content: "\f127";
}

.d4p-icon.d4p-plugin-gd-mail-queue:before {
  content: "\f128";
}

.d4p-icon.d4p-plugin-gd-members-directory:before {
  content: "\f129";
}

.d4p-icon.d4p-plugin-gd-members-directory-for-bbpress:before {
  content: "\f129";
}

.d4p-icon.d4p-plugin-gd-pages-navigator:before {
  content: "\f12a";
}

.d4p-icon.d4p-plugin-gd-power-search:before {
  content: "\f12b";
}

.d4p-icon.d4p-plugin-gd-power-search-for-bbpress-lite:before {
  content: "\f12b";
}

.d4p-icon.d4p-plugin-gd-power-search-for-bbpress:before {
  content: "\f12b";
}

.d4p-icon.d4p-plugin-gd-press-tools:before {
  content: "\f12c";
}

.d4p-icon.d4p-plugin-gd-quantum-theme:before {
  content: "\f12d";
}

.d4p-icon.d4p-plugin-gd-quantum-theme-for-bbpress:before {
  content: "\f12d";
}

.d4p-icon.d4p-plugin-gd-rating-system:before {
  content: "\f12e";
}

.d4p-icon.d4p-plugin-gd-rating-system-lite:before {
  content: "\f12e";
}

.d4p-icon.d4p-plugin-gd-security-headers:before {
  content: "\f12f";
}

.d4p-icon.d4p-plugin-gd-security-toolbox:before {
  content: "\f130";
}

.d4p-icon.d4p-plugin-gd-seo-toolbox:before {
  content: "\f131";
}

.d4p-icon.d4p-plugin-gd-swift-navigator:before {
  content: "\f132";
}

.d4p-icon.d4p-plugin-gd-topic-polls:before {
  content: "\f133";
}

.d4p-icon.d4p-plugin-gd-topic-polls-lite:before {
  content: "\f133";
}

.d4p-icon.d4p-plugin-gd-topic-polls-for-bbpress:before {
  content: "\f133";
}

.d4p-icon.d4p-plugin-gd-topic-prefix:before {
  content: "\f134";
}

.d4p-icon.d4p-plugin-gd-topic-prefix-for-bbpress:before {
  content: "\f134";
}

.d4p-icon.d4p-plugin-gd-webfonts-toolbox:before {
  content: "\f135";
}

.d4p-icon.d4p-ui-alarm:before {
  content: "\f136";
}

.d4p-icon.d4p-ui-archive:before {
  content: "\f137";
}

.d4p-icon.d4p-ui-arrows-v:before {
  content: "\f138";
}

.d4p-icon.d4p-ui-assistive-listening-systems:before {
  content: "\f139";
}

.d4p-icon.d4p-ui-badge-check:before {
  content: "\f13a";
}

.d4p-icon.d4p-ui-badge-percent:before {
  content: "\f13b";
}

.d4p-icon.d4p-ui-bell:before {
  content: "\f13c";
}

.d4p-icon.d4p-ui-book-spells:before {
  content: "\f13d";
}

.d4p-icon.d4p-ui-bookmark:before {
  content: "\f13e";
}

.d4p-icon.d4p-ui-box:before {
  content: "\f13f";
}

.d4p-icon.d4p-ui-brackets:before {
  content: "\f140";
}

.d4p-icon.d4p-ui-briefcase:before {
  content: "\f141";
}

.d4p-icon.d4p-ui-browser:before {
  content: "\f142";
}

.d4p-icon.d4p-ui-bug:before {
  content: "\f143";
}

.d4p-icon.d4p-ui-calendar-day:before {
  content: "\f144";
}

.d4p-icon.d4p-ui-calendar:before {
  content: "\f145";
}

.d4p-icon.d4p-ui-cancel:before {
  content: "\f146";
}

.d4p-icon.d4p-ui-caret-down:before {
  content: "\f147";
}

.d4p-icon.d4p-ui-certificate:before {
  content: "\f148";
}

.d4p-icon.d4p-ui-chart-bar:before {
  content: "\f149";
}

.d4p-icon.d4p-ui-check-box:before {
  content: "\f14a";
}

.d4p-icon.d4p-ui-check-square:before {
  content: "\f14b";
}

.d4p-icon.d4p-ui-check:before {
  content: "\f14c";
}

.d4p-icon.d4p-ui-chevron-left:before {
  content: "\f14d";
}

.d4p-icon.d4p-ui-clear:before {
  content: "\f14e";
}

.d4p-icon.d4p-ui-clipboard-list:before {
  content: "\f14f";
}

.d4p-icon.d4p-ui-clock:before {
  content: "\f150";
}

.d4p-icon.d4p-ui-close-square:before {
  content: "\f151";
}

.d4p-icon.d4p-ui-cloud-download:before {
  content: "\f152";
}

.d4p-icon.d4p-ui-cloud:before {
  content: "\f153";
}

.d4p-icon.d4p-ui-code:before {
  content: "\f154";
}

.d4p-icon.d4p-ui-cog:before {
  content: "\f155";
}

.d4p-icon.d4p-ui-cogs:before {
  content: "\f156";
}

.d4p-icon.d4p-ui-comment-dots:before {
  content: "\f157";
}

.d4p-icon.d4p-ui-comment:before {
  content: "\f158";
}

.d4p-icon.d4p-ui-comments:before {
  content: "\f159";
}

.d4p-icon.d4p-ui-database:before {
  content: "\f15a";
}

.d4p-icon.d4p-ui-desktop:before {
  content: "\f15b";
}

.d4p-icon.d4p-ui-download:before {
  content: "\f15c";
}

.d4p-icon.d4p-ui-envelope-open:before {
  content: "\f15d";
}

.d4p-icon.d4p-ui-envelope:before {
  content: "\f15e";
}

.d4p-icon.d4p-ui-eraser:before {
  content: "\f15f";
}

.d4p-icon.d4p-ui-exclamation-square:before {
  content: "\f160";
}

.d4p-icon.d4p-ui-external-link:before {
  content: "\f161";
}

.d4p-icon.d4p-ui-filter:before {
  content: "\f162";
}

.d4p-icon.d4p-ui-friends:before {
  content: "\f163";
}

.d4p-icon.d4p-ui-hammer:before {
  content: "\f164";
}

.d4p-icon.d4p-ui-home:before {
  content: "\f165";
}

.d4p-icon.d4p-ui-info:before {
  content: "\f166";
}

.d4p-icon.d4p-ui-key:before {
  content: "\f167";
}

.d4p-icon.d4p-ui-language:before {
  content: "\f168";
}

.d4p-icon.d4p-ui-life-ring:before {
  content: "\f169";
}

.d4p-icon.d4p-ui-link:before {
  content: "\f16a";
}

.d4p-icon.d4p-ui-lock:before {
  content: "\f16b";
}

.d4p-icon.d4p-ui-magic:before {
  content: "\f16c";
}

.d4p-icon.d4p-ui-magnet:before {
  content: "\f16d";
}

.d4p-icon.d4p-ui-minus-square:before {
  content: "\f16e";
}

.d4p-icon.d4p-ui-minus:before {
  content: "\f16f";
}

.d4p-icon.d4p-ui-mobile-phone:before {
  content: "\f170";
}

.d4p-icon.d4p-ui-network:before {
  content: "\f171";
}

.d4p-icon.d4p-ui-newspaper:before {
  content: "\f172";
}

.d4p-icon.d4p-ui-object-ungroup:before {
  content: "\f173";
}

.d4p-icon.d4p-ui-paint-brush:before {
  content: "\f174";
}

.d4p-icon.d4p-ui-palette:before {
  content: "\f175";
}

.d4p-icon.d4p-ui-paper-plane:before {
  content: "\f176";
}

.d4p-icon.d4p-ui-paste:before {
  content: "\f177";
}

.d4p-icon.d4p-ui-pause:before {
  content: "\f178";
}

.d4p-icon.d4p-ui-photo:before {
  content: "\f179";
}

.d4p-icon.d4p-ui-play:before {
  content: "\f17a";
}

.d4p-icon.d4p-ui-plug-regular:before {
  content: "\f17b";
}

.d4p-icon.d4p-ui-plug:before {
  content: "\f17c";
}

.d4p-icon.d4p-ui-plus-square:before {
  content: "\f17d";
}

.d4p-icon.d4p-ui-plus:before {
  content: "\f17e";
}

.d4p-icon.d4p-ui-poll:before {
  content: "\f17f";
}

.d4p-icon.d4p-ui-puzzle:before {
  content: "\f180";
}

.d4p-icon.d4p-ui-qrcode:before {
  content: "\f181";
}

.d4p-icon.d4p-ui-question:before {
  content: "\f182";
}

.d4p-icon.d4p-ui-quote-left:before {
  content: "\f183";
}

.d4p-icon.d4p-ui-ribbon:before {
  content: "\f184";
}

.d4p-icon.d4p-ui-rocket:before {
  content: "\f185";
}

.d4p-icon.d4p-ui-search:before {
  content: "\f186";
}

.d4p-icon.d4p-ui-server:before {
  content: "\f187";
}

.d4p-icon.d4p-ui-share:before {
  content: "\f188";
}

.d4p-icon.d4p-ui-shield-check:before {
  content: "\f189";
}

.d4p-icon.d4p-ui-shopping-bag:before {
  content: "\f18a";
}

.d4p-icon.d4p-ui-shopping-cart:before {
  content: "\f18b";
}

.d4p-icon.d4p-ui-shortcode:before {
  content: "\f18c";
}

.d4p-icon.d4p-ui-signal:before {
  content: "\f18d";
}

.d4p-icon.d4p-ui-sliders-base:before {
  content: "\f18e";
}

.d4p-icon.d4p-ui-sliders:before {
  content: "\f18f";
}

.d4p-icon.d4p-ui-spinner:before {
  content: "\f190";
}

.d4p-icon.d4p-ui-square:before {
  content: "\f191";
}

.d4p-icon.d4p-ui-star:before {
  content: "\f192";
}

.d4p-icon.d4p-ui-sun:before {
  content: "\f193";
}

.d4p-icon.d4p-ui-sync:before {
  content: "\f194";
}

.d4p-icon.d4p-ui-tag:before {
  content: "\f195";
}

.d4p-icon.d4p-ui-tags:before {
  content: "\f196";
}

.d4p-icon.d4p-ui-tasks:before {
  content: "\f197";
}

.d4p-icon.d4p-ui-term:before {
  content: "\f198";
}

.d4p-icon.d4p-ui-terms:before {
  content: "\f199";
}

.d4p-icon.d4p-ui-times:before {
  content: "\f19a";
}

.d4p-icon.d4p-ui-toggle-off:before {
  content: "\f19b";
}

.d4p-icon.d4p-ui-toggle-on:before {
  content: "\f19c";
}

.d4p-icon.d4p-ui-toolbox:before {
  content: "\f19d";
}

.d4p-icon.d4p-ui-tools:before {
  content: "\f19e";
}

.d4p-icon.d4p-ui-traffic:before {
  content: "\f19f";
}

.d4p-icon.d4p-ui-trash:before {
  content: "\f1a0";
}

.d4p-icon.d4p-ui-unlock:before {
  content: "\f1a1";
}

.d4p-icon.d4p-ui-upload:before {
  content: "\f1a2";
}

.d4p-icon.d4p-ui-user:before {
  content: "\f1a3";
}

.d4p-icon.d4p-ui-users:before {
  content: "\f1a4";
}

.d4p-icon.d4p-ui-video:before {
  content: "\f1a5";
}

.d4p-icon.d4p-ui-vote-nay:before {
  content: "\f1a6";
}

.d4p-icon.d4p-ui-vote-yea:before {
  content: "\f1a7";
}

.d4p-icon.d4p-ui-warning:before {
  content: "\f1a8";
}

.d4p-icon.d4p-ui-wrench:before {
  content: "\f1a9";
}

.d4p-icon.d4p-ui-chevron-right:before {
  content: "\f14d";
}

.d4p-icon.d4p-ui-caret-up:before {
  content: "\f147";
}

.d4p-icon.d4p-ui-poll-horizontal:before {
  content: "\f17f";
}

.d4p-icon.d4p-ui-quote-right:before {
  content: "\f183";
}

.d4p-icon.d4p-ui-sliders-hor:before {
  content: "\f18f";
}

.d4p-icon.d4p-ui-sliders-base-hor:before {
  content: "\f18e";
}

/* Full Width */
.d4p-icon-fw {
  width: 1.28571429em;
  text-align: center;
}

/* Sizes */
.d4p-icon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.d4p-icon-2x {
  font-size: 2em;
}

.d4p-icon-3x {
  font-size: 3em;
}

.d4p-icon-4x {
  font-size: 4em;
}

.d4p-icon-5x {
  font-size: 5em;
}

.d4p-icon-6x {
  font-size: 6em;
}

.d4p-icon-7x {
  font-size: 7em;
}

.d4p-icon-8x {
  font-size: 8em;
}

.d4p-icon-9x {
  font-size: 9em;
}

.d4p-icon-10x {
  font-size: 10em;
}

/* Pull */
.d4p-icon-pull-left {
  float: left;
  margin-right: 0.3em;
}

.d4p-icon-pull-right {
  float: right;
  margin-left: 0.3em;
}

/* Rotate */
.d4p-icon-rotate-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.d4p-icon-rotate-45 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.d4p-icon-rotate-270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* Flip */
.d4p-icon-flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.d4p-icon-flip-vertical {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.d4p-icon-flip-both,
.d4p-icon-flip-horizontal.d4p-icon-flip-vertical {
  -webkit-transform: scale(-1);
  transform: scale(-1);
}

/* Spin */
.d4p-icon-spin {
  -webkit-animation: d4p-icon-spin 2s infinite linear;
  animation: d4p-icon-spin 2s infinite linear;
}

@-webkit-keyframes d4p-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes d4p-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.d4p-layout-grid {
  box-sizing: border-box;
  display: block;
  clear: both;
  *zoom: 1;
}
.d4p-layout-grid:before, .d4p-layout-grid:after {
  display: table;
  content: "";
  line-height: 0;
}
.d4p-layout-grid:after {
  clear: both;
}
.d4p-layout-grid.wrap {
  max-width: 978px;
  margin: 0 auto;
}
.d4p-layout-grid .no-gutters .d4p-layout-unit {
  padding: 0 !important;
}
.d4p-layout-grid .d4p-layout-unit {
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding: 10px;
}
.d4p-layout-grid .d4p-layout-unit .d4p-layout-unit:first-child {
  padding-left: 0;
}
.d4p-layout-grid .d4p-layout-unit .d4p-layout-unit:last-child {
  padding-right: 0;
}
.d4p-layout-grid .d4p-layout-unit .d4p-layout-grid:first-child > .d4p-layout-unit {
  padding-top: 0;
}
.d4p-layout-grid .d4p-layout-unit .d4p-layout-grid:last-child > .d4p-layout-unit {
  padding-bottom: 0;
}
.d4p-layout-grid .d4p-layout-unit.no-gutters {
  padding: 0 !important;
}
.d4p-layout-grid .whole, .d4p-layout-grid .w-1-1 {
  width: 100%;
}
.d4p-layout-grid .half, .d4p-layout-grid .w-1-2 {
  width: 50%;
}
.d4p-layout-grid .one-third, .d4p-layout-grid .w-1-3 {
  width: 33.3332%;
}
.d4p-layout-grid .two-thirds, .d4p-layout-grid .w-2-3 {
  width: 66.6665%;
}
.d4p-layout-grid .one-quarter, .d4p-layout-grid .w-1-4 {
  width: 25%;
}
.d4p-layout-grid .three-quarters, .d4p-layout-grid .w-3-4 {
  width: 75%;
}
.d4p-layout-grid .one-fifth, .d4p-layout-grid .w-1-5 {
  width: 20%;
}
.d4p-layout-grid .two-fifths, .d4p-layout-grid .w-2-5 {
  width: 40%;
}
.d4p-layout-grid .three-fifths, .d4p-layout-grid .w-3-5 {
  width: 60%;
}
.d4p-layout-grid .four-fifths, .d4p-layout-grid .w-4-5 {
  width: 80%;
}
.d4p-layout-grid .golden-small, .d4p-layout-grid .w-g-s {
  width: 38.2716%;
}
.d4p-layout-grid .golden-large, .d4p-layout-grid .w-g-l {
  width: 61.7283%;
}
.d4p-layout-grid .align-center {
  text-align: center;
}
.d4p-layout-grid .align-left {
  text-align: left;
}
.d4p-layout-grid .align-right {
  text-align: right;
}
.d4p-layout-grid .pull-left {
  float: left;
}
.d4p-layout-grid .pull-right {
  float: right;
}

@media screen and (max-width: 568px) {
  .d4p-layout-grid .d4p-layout-unit {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .d4p-layout-grid .center-on-mobiles {
    text-align: center !important;
  }
  .d4p-layout-grid .hide-on-mobiles {
    display: none !important;
  }

  .d4p-layout-unit .d4p-layout-grid .d4p-layout-unit {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1180px) {
  .wider .d4p-layout-grid {
    max-width: 1180px;
    margin: 0 auto;
  }
}
.d4p-clearfix:before, .d4p-clearfix:after {
  content: " ";
  display: table;
}

.d4p-clearfix:after {
  clear: both;
}

.d4p-accessibility-show-for-sr {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.d4p-break-hypen {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.d4plib-selected-image {
  margin: 5px 0 0 0;
  padding: 5px 0 0 0;
  border-top: 1px solid #DDD;
  max-width: 518px;
  display: block;
}

.d4plib-selected-image .d4plib-image-name {
  font-weight: bold;
  display: block;
}

.d4plib-selected-image img {
  height: auto;
  margin: 5px 0 0;
  max-width: 100%;
  display: none;
}

.d4plib-images-image {
  line-height: 22px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #DDD;
}

.d4p-setting-images .d4plib-images-image:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.d4plib-images-image img {
  display: none;
}

.d4plib-images-image .d4plib-image-name {
  display: inline;
}

.d4p-update-info {
  float: left;
}
.d4p-update-info .d4p-install-block {
  margin: 0 0 15px;
  font-size: 1em;
  line-height: 1.5;
}
.d4p-update-info .d4p-install-block h4 {
  margin: 0 0 10px;
  font-size: 1.3em;
}
.d4p-update-info .d4p-install-block h5 {
  margin: 10px 0;
  font-size: 1.15em;
}
.d4p-update-info .d4p-install-confirm {
  margin: 15px 0 0;
  padding: 15px 0 0;
  border-top: 1px solid #777;
}

.d4p-group-updater .d4p-install-block {
  margin: 0 0 15px;
  padding: 0 0 15px;
  border-bottom: 1px solid #DDD;
  font-size: 1.15em;
  line-height: 1.6;
}
.d4p-group-updater .d4p-install-block h4 {
  margin: 0 0 10px;
}
.d4p-group-updater .d4p-install-block h5 {
  margin: 10px 0;
}
.d4p-group-updater .d4p-install-block:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}

.d4p-wrap,
.d4p-wrap * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.d4p-sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.d4p-return-to-top {
  text-align: right;
  margin: 15px 0 0;
  border-top: 1px dotted #CCC;
  padding: 5px 0 0;
  text-transform: lowercase;
}

.d4p-wrap {
  margin: 0 15px 0 0;
}
.d4p-wrap > .notice {
  margin: 40px 0 0 0;
}
.d4p-wrap .d4p-notice-info {
  background: #FFF;
  border-left: 4px solid #00A0D2;
  padding: 12px;
  margin: 40px 0 0 0;
}
.d4p-wrap .d4p-notice-info blockquote {
  margin: 15px 0;
  padding-left: 5px;
  border-left: 2px solid #DDD;
  font-style: italic;
}
.d4p-wrap a,
.d4p-wrap :focus {
  box-shadow: none;
}
.d4p-wrap .d4p-message .notice {
  margin: 0;
  box-shadow: none;
  border-top: 0;
  padding: 15px;
  font-size: 14px;
}
.d4p-wrap .d4p-message .notice .notice-dismiss {
  padding: 14px;
}
.d4p-wrap .d4p-header {
  border-bottom: 1px solid #777;
  margin: 35px 0 0;
  padding: 0 0 10px;
  height: 45px;
}
.d4p-wrap .d4p-header .d4p-plugin {
  float: right;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -2px;
}
.d4p-wrap .d4p-header .d4p-navigator {
  float: left;
}
.d4p-wrap .d4p-header .d4p-navigator a {
  text-decoration: none;
  color: #0074A2;
}
.d4p-wrap .d4p-header .d4p-navigator li {
  margin: 0;
}
.d4p-wrap .d4p-header .d4p-navigator ul {
  margin: 0;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button {
  margin-right: 30px;
  float: left;
  position: relative;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button:last-child {
  margin-right: 0;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button > a {
  position: relative;
  display: inline-block;
  outline: none;
  background: none repeat scroll 0 0 #FFF;
  border: 1px solid #DDD;
  box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  padding: 7px 10px;
  margin: 0;
  width: 235px;
  white-space: nowrap;
  overflow: hidden;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button > a i.d4p-icon {
  vertical-align: bottom;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button ul {
  display: none;
  background: #FFF;
  border: 1px solid #DDD;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 28px;
  padding: 5px 0;
  position: absolute;
  top: 33px;
  width: 235px;
  z-index: 100;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button ul a {
  display: block;
  padding: 0 10px;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button ul a:hover {
  background: #0074A2;
  color: #FFF;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button ul .d4p-nav-current {
  display: block;
  padding: 0 10px;
  background: #444;
  color: #FFF;
}
.d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button ul .d4p-nav-current i.d4p-icon {
  line-height: inherit;
  vertical-align: bottom;
}
.d4p-wrap.d4p-with-sidebar .d4p-inside-wrapper .d4p-sidebar {
  float: left;
  padding: 15px 15px 15px 0;
  width: 250px;
  min-height: 320px;
}
.d4p-wrap.d4p-with-sidebar .d4p-inside-wrapper .d4p-content {
  padding: 15px 0 15px 15px;
  overflow: auto;
  border-left: 1px solid #777;
  min-height: 320px;
}
.d4p-wrap.d4p-full-width .d4p-inside-wrapper {
  padding: 15px 0 0;
}
.d4p-wrap.d4p-full-width .d4p-inside-wrapper .d4p-content {
  min-height: 320px;
}
.d4p-wrap .d4p-sidebar .d4p-panel-title {
  background: #FFF;
  border: 1px solid #DDD;
  box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.1);
  margin: 0 0 15px;
  padding: 15px;
  text-align: center;
}
.d4p-wrap .d4p-sidebar .d4p-panel-title > i {
  font-size: 48px;
}
.d4p-wrap .d4p-sidebar .d4p-panel-title h3 {
  font-size: 28px;
  word-break: keep-all;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1;
  margin: 5px 0 0;
  padding: 0;
  text-transform: uppercase;
}
.d4p-wrap .d4p-sidebar .d4p-panel-title h4 {
  margin: 10px 0 0;
  padding: 10px 0 0;
  border-top: 1px solid #DDD;
  font-size: 20px;
  line-height: 1.4;
}
.d4p-wrap .d4p-sidebar .d4p-panel-info {
  text-align: center;
}
.d4p-wrap .d4p-content .d4p-accessibility-button {
  margin: 15px 0 0;
  padding: 15px 0;
  border-top: 1px solid #777;
  max-width: 800px;
  text-align: center;
  clear: both;
}
.d4p-wrap .d4p-content .d4p-accessibility-button .button-primary {
  min-width: 160px;
}

.d4p-panel-links {
  margin: 15px 0 0;
  padding: 15px 0 0;
  border-top: 1px solid #DDD;
}
.d4p-panel-links a {
  background: #FEFEFE;
  border-radius: 4px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  margin: 0 0 5px;
  text-align: center;
  text-decoration: none;
}

.d4p-panel-mark {
  position: relative;
  margin: 15px 0 0;
  padding: 15px 0 0;
  border-top: 1px solid #DDD;
}
.d4p-panel-mark p {
  text-align: center;
  margin: 0 0 5px;
}
.d4p-panel-mark button {
  background: none;
  outline: none;
  border: none;
  position: absolute;
  padding: 0;
  margin: 0;
  right: 8px;
  bottom: 8px;
  color: #111;
  cursor: pointer;
}

.d4p-panel-buttons {
  margin: 15px 0 0;
  padding: 15px 0 0;
  border-top: 1px solid #DDD;
}
.d4p-panel-buttons .button-primary {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  height: 44px;
  line-height: 40px;
  text-align: center;
}
.d4p-panel-buttons .button-secondary {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  height: 32px;
  line-height: 28px;
}

.d4p-panel-break {
  border-bottom: 4px solid #333;
  margin: 0 0 15px;
  padding: 0;
}
.d4p-panel-break h1 {
  background-color: #333;
  color: #FFF;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  margin: 0 0 0 20px;
  padding: 5px 30px 5px 15px;
}
.d4p-panel-break h1 i {
  margin: 0 7px 0 0;
  font-size: 18px;
}

.d4p-panel-group-break {
  border-bottom: 2px solid #555;
  margin: 0 0 15px;
  padding: 0;
}
.d4p-panel-group-break h2 {
  background-color: #555;
  color: #FFF;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 0 0 20px;
  padding: 5px 20px 5px 15px;
}
.d4p-panel-group-break h2 i {
  margin: 0 4px 0 0;
  font-size: 16px;
}

.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-dashboard-badge {
  padding: 15px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-dashboard-badge .d4p-dashboard-sidebard-svg-sign {
  max-width: 360px;
  width: 80%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-dashboard-badge * {
  color: #FFF;
}
.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-dashboard-badge h3 {
  word-break: keep-all;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 5px 0 15px;
  padding: 0;
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 30px;
}
.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-dashboard-badge h5 {
  margin: 0;
  padding: 10px 0 0;
  border-top: 1px solid #DDD;
  font-size: 1.3em;
  text-align: right;
}
.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-links-group {
  margin: 15px 0 0;
  padding: 15px 0 0;
  border-top: 1px solid #DDD;
}
.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-links-group a {
  display: block;
  margin: 0 0 5px;
}
.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-links-group a i {
  font-size: 1.3em;
  width: 1.3em;
  text-align: center;
}
.d4p-wrap.d4p-panel-dashboard .d4p-sidebar .d4p-links-group a span {
  font-size: 120%;
  font-weight: bold;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-cards-wrapper {
  width: 100%;
  max-width: 1195px;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card {
  display: block;
  width: calc((100% - 15px) / 2);
  max-width: 590px;
  margin: 0 0 15px;
  clear: none;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card:nth-child(odd) {
  margin-right: 15px;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card.d4p-card-basic {
  float: none;
  width: 100%;
  max-width: 800px;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card.d4p-card-double {
  float: none;
  width: 100%;
  max-width: 1195px;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card.d4p-card-double .d4p-group-inner {
  font-size: 105%;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner {
  padding: 15px;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner h4 {
  margin: 0 0 15px;
  font-size: 1.15em;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner hr {
  margin: 15px 0;
  border: 0;
  border-top: 1px solid #ddd;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner ul {
  list-style: none;
  margin: 0;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner ul li {
  margin: 3px 0;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner ul.d4p-with-bullets {
  list-style: outside disc;
  margin-left: 20px;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner ul.d4p-with-bullets li {
  list-style: inherit;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-footer {
  border-top: 1px solid #EEE;
  padding: 10px 15px;
  text-align: left;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-card-badge {
  border-radius: 2px;
  margin-left: 5px;
  color: #FFF;
  display: inline-block;
  padding: 0 6px 2px;
  line-height: 1.5;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-card-badge .d4p-icon {
  font-size: 82%;
  margin-right: 5px;
  vertical-align: baseline;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-card-badge.d4p-badge-right {
  float: right;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-card-badge.d4p-badge-green, .d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-card-badge.d4p-badge-ok {
  background: #090;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-card-badge.d4p-badge-red, .d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-card-badge.d4p-badge-error {
  background: #900;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-card-badge.d4p-badge-purple, .d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-card-badge.d4p-badge-maintenance {
  background: #813E99;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-card-badge.d4p-badge-blue, .d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-card-badge.d4p-badge-upgrade {
  background: #0A63A5;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-header {
  border-bottom: 1px solid #EEE;
  padding: 10px 15px;
  background: #FAFAFA;
  text-align: left;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner ul,
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-header ul,
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner ul li,
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-header ul li,
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-footer ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2em;
  font-size: 1em;
  width: 50%;
  float: left;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner ul li a,
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-header ul li a,
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-footer ul li a {
  text-decoration: none;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner ul li a i,
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-header ul li a i,
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-footer ul li a i {
  color: #555;
  font-size: 105%;
  margin-right: 3px;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner ul li a strong,
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-header ul li a strong,
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-footer ul li a strong {
  font-weight: 700;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner ul li .d4p-card-badge,
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-header ul li .d4p-card-badge,
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-footer ul li .d4p-card-badge {
  margin-top: 2px;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner ul li:nth-child(odd),
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-header ul li:nth-child(odd),
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-footer ul li:nth-child(odd) {
  padding-right: 10px;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner ul li:nth-child(even),
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-header ul li:nth-child(even),
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-footer ul li:nth-child(even) {
  padding-left: 10px;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-inner ul.d4p-full-width li,
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-header ul.d4p-full-width li,
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-group-footer ul.d4p-full-width li {
  float: none;
  width: 100%;
  padding: 0;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-status-message {
  font-weight: bold;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-dashboard-status-row {
  display: block;
  margin: 8px 0 8px;
  font-size: 15px;
  line-height: 24px;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-dashboard-status-row .d4p-type-toggle {
  font-size: 22px;
  vertical-align: bottom;
  margin: 0 5px 0 0;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-dashboard-status-row .d4p-type-toggle.d4p-type-status-enabled {
  color: #3B7D33;
}
.d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card .d4p-dashboard-status-row .d4p-type-toggle.d4p-type-status-disabled {
  color: #D05757;
}

#dev4press-recommend {
  margin-left: 10px;
  float: right;
  width: 340px;
}
#dev4press-recommend > div {
  background-color: #333;
  border: 2px solid #111;
  color: #FFF;
  padding: 0;
  margin-bottom: 10px;
  width: 340px;
}
#dev4press-recommend a,
#dev4press-recommend a:hover {
  color: #FFF;
  text-decoration: none;
}
#dev4press-recommend h5 {
  background-color: #777;
  color: #FFF;
  padding: 7px 0 10px;
  margin: 0 0 10px;
  text-align: center;
  font-size: 16px;
}
#dev4press-recommend h6 {
  font-size: 18px;
  margin: 0;
  line-height: 24px;
  padding: 5px 0 10px;
  text-align: center;
}
#dev4press-recommend .dev4press-plugin-inner {
  margin: 10px;
}
#dev4press-recommend .dev4press-plugin-inner em {
  line-height: 18px;
  font-size: 12px;
}
#dev4press-recommend .dev4press-plugin-thumb {
  float: left;
  margin: 0 10px 10px 0;
}
#dev4press-recommend .dev4press-plugin-thumb img {
  width: 92px;
  height: 92px;
}
#dev4press-recommend .dev4press-plugin-thumb i {
  font-size: 90px;
  width: 116px;
  height: 96px;
  display: block;
}
#dev4press-recommend .dev4press-plugin-links {
  clear: both;
  margin: 10px 0 0;
  padding: 10px 0 0;
  border-top: 1px solid #F8F8F8;
}
#dev4press-recommend .dev4press-plugin-links a {
  margin: 0 1%;
  width: 31.33%;
  text-align: center;
}
#dev4press-recommend .dev4press-plugin-links a.button-secondary {
  color: #111;
  box-shadow: none;
}
#dev4press-recommend .dev4press-plugin-links a.dev4press-buynow {
  background: #BA0000;
  box-shadow: none;
  border-color: #F0F0F0;
  text-shadow: 0 -1px 1px #900, 1px 0 1px #900, 0 1px 1px #900, -1px 0 1px #900;
}

.d4p-group-divider {
  margin: 10px 0 15px;
  float: left;
  text-align: center;
  max-width: 800px;
  width: 100%;
  clear: both;
  font-size: 2em;
  overflow: auto;
  line-height: normal;
  padding: 5px 0 0;
  border-top: 2px solid #DDD;
}

.d4p-options-panel {
  background: #FFF;
  border: 1px solid #DDD;
  margin: 0 15px 15px 0;
  padding: 15px;
  float: left;
  text-align: center;
  width: 400px;
}
.d4p-options-panel i {
  float: left;
  font-size: 5em;
  margin-right: 15px;
  text-align: center;
  width: 1em;
}
.d4p-options-panel i.d4p-icon-fw {
  width: 1.28571429em;
}
.d4p-options-panel h5 {
  margin: 0 0 10px 85px;
  padding: 0 0 5px;
  text-align: left;
  font-size: 20px;
  border-bottom: 1px solid #DDD;
}
.d4p-options-panel div {
  text-align: right;
  margin: 0 0 0 85px;
}
.d4p-options-panel div span {
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
}
.d4p-options-panel div a.button-primary {
  padding: 0 20px 1px;
}

.d4p-group {
  background: #FFF;
  border: 1px solid #BBB;
  margin: 0 0 15px;
  float: left;
  text-align: center;
  max-width: 800px;
  width: 100%;
  clear: both;
  overflow: auto;
}
.d4p-group h3 {
  margin: 0;
  background: #E0E0E0;
  color: #111;
  border-bottom: 1px solid #BBB;
  text-align: left;
  padding: 10px;
  line-height: 120%;
  vertical-align: top;
}
.d4p-group h3 i {
  float: right;
  cursor: pointer;
}
.d4p-group h3 textarea {
  height: 160px;
}
.d4p-group h3 .d4p-kb-group {
  float: right;
  background: #C00;
  color: #FFF;
  padding: 2px 8px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 14px;
}
.d4p-group.d4p-group-tools label {
  display: block;
  line-height: 1.8;
}
.d4p-group.d4p-hidden-group {
  display: none;
}
.d4p-group .d4p-group-inner {
  padding: 15px;
  text-align: left;
}
.d4p-group .d4p-group-inner > *:first-child {
  margin-top: 0;
}
.d4p-group .d4p-group-inner > *:last-child {
  margin-bottom: 0;
}

.d4p-group-error {
  border-color: #D00;
}
.d4p-group-error h3 {
  background: #D00;
  color: #FFF;
}
.d4p-group-error .d4p-group-inner {
  text-align: left;
}
.d4p-group-error .d4p-group-inner p {
  margin-top: 0;
  font-weight: bold;
}
.d4p-group-error .d4p-group-inner ul {
  margin: 0;
  list-style: inside;
}

.d4p-wrap.d4p-with-table .tablenav {
  height: auto;
  margin: 10px 0;
  padding: 0;
}

.d4p-dialog.d4p-dialog-hidex .ui-dialog-titlebar button {
  display: none;
}
.d4p-dialog .ui-dialog-buttonset .ui-button i.d4p-icon {
  font-size: 115%;
}

.d4p-group-inner .d4p-setting-code > .CodeMirror {
  border: 1px solid #DDD;
}

.d4p-field-unit {
  margin-left: 8px;
}

.d4p-panel-buttons input.button-primary {
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  width: 100%;
}

.d4plib-button-inner {
  margin: 0 5px 0 0 !important;
}

.d4plib-button-action {
  margin: 0 5px 0 0 !important;
  height: 22px !important;
  line-height: 20px !important;
  padding: 0 6px 1px !important;
}

.d4p-grid-hide-bulkactions .actions.bulkactions {
  display: none;
}

.d4p-group-separator {
  margin: 0;
  float: left;
  text-align: left;
  max-width: 800px;
  width: 100%;
  clear: both;
  overflow: auto;
}
.d4p-group-separator h3 {
  border-bottom: 2px solid #CCC;
  text-transform: uppercase;
  margin: 0 0 30px;
  font-size: 22px;
  line-height: 24px;
}
.d4p-group-separator h3 > span {
  padding: 0 15px 2px;
  position: relative;
  top: 12px;
  background: #CCC;
  color: #111;
  font-weight: bold;
  margin: 0 0 0 30px;
}

.d4p-settings-section {
  margin: 0 0 15px;
}
.d4p-settings-section:last-child {
  margin: 0;
}
.d4p-settings-section h4 {
  border-bottom: 2px solid #BBB;
  margin: 0 0 15px;
  padding: 0;
}
.d4p-settings-section h4 span {
  background-color: #DDD;
  color: #111;
  font-size: 110%;
  display: inline-block;
  margin: 0 0 0 15px;
  padding: 5px 15px;
}
.d4p-settings-section.d4p-switch-section-is-hidden {
  display: none;
}

.d4p-settings-table {
  margin: 0;
}
.d4p-settings-table > tbody > tr > th,
.d4p-settings-table > tbody > tr > td {
  text-align: left;
  vertical-align: top;
  border-bottom: 1px dashed #DDD;
}
.d4p-settings-table > tbody > tr > th {
  width: 240px;
  padding: 10px 15px 10px 0;
  line-height: 24px;
  font-size: 105%;
  font-weight: 600;
}
.d4p-settings-table > tbody > tr > td {
  padding: 10px 0 10px 0;
}
.d4p-settings-table > tbody > tr:first-child th, .d4p-settings-table > tbody > tr:first-child td {
  padding-top: 0;
}
.d4p-settings-table > tbody > tr.d4p-switch-option-is-hidden {
  display: none;
}
.d4p-settings-table .d4p-setting-wrapper {
  line-height: 20px;
}
.d4p-settings-table .d4p-setting-wrapper input[type=number] {
  width: 32%;
}
.d4p-settings-table .d4p-setting-wrapper select {
  max-width: 100%;
}
.d4p-settings-table .d4p-setting-wrapper .d4p-check-uncheck {
  font-size: 0.9em;
  padding: 0 0 5px;
  margin: 0 0 5px;
  border-bottom: 1px dotted #CCC;
}
.d4p-settings-table .d4p-setting-wrapper .d4p-check-uncheck a {
  text-decoration: none;
}
.d4p-settings-table .d4p-setting-wrapper .d4p-check-uncheck a.d4p-check-all {
  margin-right: 10px;
}
.d4p-settings-table .d4p-setting-wrapper .d4p-check-uncheck a i {
  vertical-align: -2px;
}
.d4p-settings-table .d4p-setting-wrapper .d4p-content-wrapper {
  border: 1px solid #DDD;
  padding: 5px 10px;
  max-height: 160px;
  overflow: auto;
}
.d4p-settings-table .d4p-setting-wrapper .d4p-content-wrapper .d4p-wrapper-hierarchy {
  margin: 0;
}
.d4p-settings-table .d4p-setting-wrapper .d4p-content-wrapper .d4p-wrapper-hierarchy li {
  margin: 2px 0;
}
.d4p-settings-table .d4p-setting-wrapper .d4p-content-wrapper .d4p-wrapper-hierarchy ul.children {
  margin-left: 12px;
}
.d4p-settings-table .d4p-setting-wrapper .d4p-description {
  margin: 5px 0 0 0;
  padding: 5px 0 0 0;
  display: block;
  border-top: 1px solid #DDD;
  font-size: 13px;
  font-style: italic;
}
.d4p-settings-table .d4p-setting-wrapper.d4p-setting-color .wp-color-result {
  height: 24px;
  padding-left: 36px;
  margin: 0 8px 0 0;
}
.d4p-settings-table .d4p-setting-wrapper.d4p-setting-color .wp-picker-container input.wp-color-picker[type=text] {
  height: 24px;
}
.d4p-settings-table .d4p-setting-wrapper.d4p-setting-range_integer input, .d4p-settings-table .d4p-setting-wrapper.d4p-setting-range_absint input, .d4p-settings-table .d4p-setting-wrapper.d4p-setting-x_by_y input {
  width: 25%;
}
.d4p-settings-table .d4p-setting-wrapper.d4p-setting-checkboxes label, .d4p-settings-table .d4p-setting-wrapper.d4p-setting-radios label {
  display: block;
  margin: 0 0 4px;
}
.d4p-settings-table .d4p-setting-wrapper.d4p-setting-expandable_raw ol, .d4p-settings-table .d4p-setting-wrapper.d4p-setting-expandable_text ol {
  list-style: none;
  margin: 0 0 0.5em;
}
.d4p-settings-table .d4p-setting-wrapper.d4p-setting-expandable_raw .exp-text-element a, .d4p-settings-table .d4p-setting-wrapper.d4p-setting-expandable_text .exp-text-element a {
  margin-left: 10px;
  text-align: center;
  height: 30px;
  line-height: 28px;
}
.d4p-settings-table .d4p-setting-wrapper.d4p-setting-css_size input {
  width: 100px;
  vertical-align: top;
}
.d4p-settings-table .d4p-setting-wrapper.d4p-setting-css_size select {
  width: 60px;
  vertical-align: top;
  margin-left: 10px;
}
.d4p-settings-table .d4p-setting-wrapper.d4p-setting-expandable_pairs > div {
  border: 1px solid #CCC;
  padding: 10px;
  margin: 0 0 10px;
}
.d4p-settings-table .d4p-setting-wrapper.d4p-setting-expandable_pairs > div a {
  font-size: 0.9em;
}
.d4p-settings-table .d4p-setting-wrapper.d4p-setting-expandable_pairs > div input {
  margin: 0 0 5px;
}
.d4p-settings-table .d4p-settings-item-error th {
  border-left: 3px solid #D00 !important;
  padding: 10px !important;
  background-color: #FFEBEB;
}
.d4p-settings-table .d4p-settings-item-error td {
  padding: 10px 10px 10px 0 !important;
  background-color: #FFEBEB;
}

.d4p-section-toggle {
  margin: 10px 0 0;
  border: 1px solid #DDD;
}
.d4p-section-toggle .d4p-toggle-title {
  background-color: #DDD;
  padding: 5px;
  color: #222;
  cursor: pointer;
}
.d4p-section-toggle .d4p-toggle-content {
  padding: 5px;
  overflow: auto;
  height: 115px;
}
.d4p-section-toggle.d4p-free-height .d4p-toggle-content {
  height: auto;
}
.d4p-section-toggle.d4p-free-height .form-table {
  margin: 0;
}
.d4p-section-toggle.d4p-free-height .form-table > tbody > tr > * {
  line-height: 22px;
  width: auto;
  padding: 2px 0;
}
.d4p-section-toggle.d4p-free-height .form-table code {
  font-style: normal;
}

.dev4press-info-default-value {
  background-color: #eee;
  font-family: monospace;
  color: #111;
  display: inline-block;
  padding: 1px 7px;
}

:root {
  --balloon-border-radius: 0px;
  --balloon-color: #007CBA;
  --balloon-text-color: #FFF;
  --balloon-font-size: 15px;
  --balloon-move: 8px;
}

button[aria-label][data-balloon-pos] {
  overflow: visible;
}

[aria-label][data-balloon-pos] {
  position: relative;
  cursor: pointer;
}
[aria-label][data-balloon-pos]:after {
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
  text-indent: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  line-height: 1.5;
  font-size: var(--balloon-font-size);
  background: var(--balloon-color);
  color: var(--balloon-text-color);
  border-radius: var(--balloon-border-radius);
  content: attr(aria-label);
  padding: 10px 15px;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
}
[aria-label][data-balloon-pos]:before {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--balloon-color);
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
  content: "";
  position: absolute;
  z-index: 10;
}
[aria-label][data-balloon-pos]:hover:before, [aria-label][data-balloon-pos]:hover:after, [aria-label][data-balloon-pos][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-visible]:after, [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:before, [aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:after {
  opacity: 1;
  pointer-events: none;
}
[aria-label][data-balloon-pos].font-awesome:after {
  font-family: FontAwesome, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
[aria-label][data-balloon-pos][data-balloon-break]:after {
  white-space: pre;
}
[aria-label][data-balloon-pos][data-balloon-break][data-balloon-length]:after {
  white-space: pre-line;
  word-break: break-word;
}
[aria-label][data-balloon-pos][data-balloon-blunt]:before, [aria-label][data-balloon-pos][data-balloon-blunt]:after {
  transition: none;
}
[aria-label][data-balloon-pos][data-balloon-pos=up]:after {
  bottom: 100%;
  left: 50%;
  margin-bottom: 15px;
  transform: translate(-50%, var(--balloon-move));
  transform-origin: top;
}
[aria-label][data-balloon-pos][data-balloon-pos=up]:before {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, var(--balloon-move));
  transform-origin: top;
}
[aria-label][data-balloon-pos][data-balloon-pos=up]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos=up][data-balloon-visible]:after {
  transform: translate(-50%, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos=up]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos=up][data-balloon-visible]:before {
  transform: translate(-50%, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos=up-left]:after {
  bottom: 100%;
  left: 0;
  margin-bottom: 15px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top;
}
[aria-label][data-balloon-pos][data-balloon-pos=up-left]:before {
  bottom: 100%;
  left: 5px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top;
}
[aria-label][data-balloon-pos][data-balloon-pos=up-left]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos=up-left][data-balloon-visible]:after {
  transform: translate(0, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos=up-left]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos=up-left][data-balloon-visible]:before {
  transform: translate(0, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos=up-right]:after {
  bottom: 100%;
  right: 0;
  margin-bottom: 15px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top;
}
[aria-label][data-balloon-pos][data-balloon-pos=up-right]:before {
  bottom: 100%;
  right: 5px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top;
}
[aria-label][data-balloon-pos][data-balloon-pos=up-right]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos=up-right][data-balloon-visible]:after {
  transform: translate(0, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos=up-right]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos=up-right][data-balloon-visible]:before {
  transform: translate(0, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos=down]:after {
  left: 50%;
  margin-top: 15px;
  top: 100%;
  transform: translate(-50%, calc(var(--balloon-move) * -1));
}
[aria-label][data-balloon-pos][data-balloon-pos=down]:before {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: var(--balloon-color);
  left: 50%;
  top: 100%;
  transform: translate(-50%, calc(var(--balloon-move) * -1));
}
[aria-label][data-balloon-pos][data-balloon-pos=down]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos=down][data-balloon-visible]:after {
  transform: translate(-50%, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos=down]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos=down][data-balloon-visible]:before {
  transform: translate(-50%, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos=down-left]:after {
  left: 0;
  margin-top: 15px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1));
}
[aria-label][data-balloon-pos][data-balloon-pos=down-left]:before {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: var(--balloon-color);
  left: 5px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1));
}
[aria-label][data-balloon-pos][data-balloon-pos=down-left]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos=down-left][data-balloon-visible]:after {
  transform: translate(0, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos=down-left]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos=down-left][data-balloon-visible]:before {
  transform: translate(0, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos=down-right]:after {
  right: 0;
  margin-top: 15px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1));
}
[aria-label][data-balloon-pos][data-balloon-pos=down-right]:before {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: var(--balloon-color);
  right: 5px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1));
}
[aria-label][data-balloon-pos][data-balloon-pos=down-right]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos=down-right][data-balloon-visible]:after {
  transform: translate(0, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos=down-right]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos=down-right][data-balloon-visible]:before {
  transform: translate(0, 0);
}
[aria-label][data-balloon-pos][data-balloon-pos=left]:after {
  margin-right: 15px;
  right: 100%;
  top: 50%;
  transform: translate(var(--balloon-move), -50%);
}
[aria-label][data-balloon-pos][data-balloon-pos=left]:before {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: var(--balloon-color);
  right: 100%;
  top: 50%;
  transform: translate(var(--balloon-move), -50%);
}
[aria-label][data-balloon-pos][data-balloon-pos=left]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos=left][data-balloon-visible]:after {
  transform: translate(0, -50%);
}
[aria-label][data-balloon-pos][data-balloon-pos=left]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos=left][data-balloon-visible]:before {
  transform: translate(0, -50%);
}
[aria-label][data-balloon-pos][data-balloon-pos=right]:after {
  left: 100%;
  margin-left: 15px;
  top: 50%;
  transform: translate(calc(var(--balloon-move) * -1), -50%);
}
[aria-label][data-balloon-pos][data-balloon-pos=right]:before {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: var(--balloon-color);
  left: 100%;
  top: 50%;
  transform: translate(calc(var(--balloon-move) * -1), -50%);
}
[aria-label][data-balloon-pos][data-balloon-pos=right]:hover:after, [aria-label][data-balloon-pos][data-balloon-pos=right][data-balloon-visible]:after {
  transform: translate(0, -50%);
}
[aria-label][data-balloon-pos][data-balloon-pos=right]:hover:before, [aria-label][data-balloon-pos][data-balloon-pos=right][data-balloon-visible]:before {
  transform: translate(0, -50%);
}
[aria-label][data-balloon-pos][data-balloon-length=small]:after {
  white-space: normal;
  width: 80px;
}
[aria-label][data-balloon-pos][data-balloon-length=medium]:after {
  white-space: normal;
  width: 160px;
}
[aria-label][data-balloon-pos][data-balloon-length=large]:after {
  white-space: normal;
  width: 320px;
}
[aria-label][data-balloon-pos][data-balloon-length=xlarge]:after {
  white-space: normal;
  width: 480px;
}
@media screen and (max-width: 768px) {
  [aria-label][data-balloon-pos][data-balloon-length=xlarge]:after {
    white-space: normal;
    width: 90vw;
  }
}
[aria-label][data-balloon-pos][data-balloon-length=fit]:after {
  white-space: normal;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  #dev4press-recommend {
    float: none;
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
    border-top: 1px solid #777;
  }
}
@media screen and (max-width: 1080px) {
  .d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card {
    width: 100%;
  }
  .d4p-wrap.d4p-panel-dashboard .d4p-content .d4p-group.d4p-dashboard-card:nth-child(odd) {
    margin-right: 0;
  }
}
@media screen and (max-width: 1024px) {
  .d4p-group .d4p-group-inner .form-table > tbody > tr > th {
    width: 30%;
  }
}
@media screen and (max-width: 960px) {
  .d4p-wrap .d4p-header .d4p-plugin {
    display: none;
  }

  .d4p-options-panel {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .d4p-wrap.d4p-panel-about .d4p-about-dev4press-plugins .d4p-dev4press-plugin {
    width: 100%;
    display: block;
    margin-bottom: 25px;
  }
  .d4p-wrap.d4p-panel-about .d4p-about-dev4press-plugins .d4p-dev4press-plugin:nth-child(odd) {
    margin-right: 0;
    clear: none;
  }
  .d4p-wrap .d4p-settings-table .d4p-setting-wrapper .d4p-check-uncheck {
    font-size: 110%;
    padding: 0 0 10px;
    margin: 0 0 10px;
  }
  .d4p-wrap .d4p-settings-table .d4p-setting-wrapper input[type=number] {
    width: 50%;
  }
  .d4p-wrap .d4p-panel-mark button {
    bottom: 14px;
  }
}
@media screen and (max-width: 640px) {
  .d4p-wrap .d4p-return-to-top {
    display: none;
  }
  .d4p-wrap .d4p-header {
    margin: 50px 0 0;
  }
  .d4p-wrap.d4p-with-sidebar .d4p-inside-wrapper .d4p-sidebar {
    width: 100%;
    float: none;
    padding: 15px 0;
    min-height: 0;
  }
  .d4p-wrap.d4p-with-sidebar .d4p-inside-wrapper .d4p-content {
    padding: 15px 0 0;
    border-left: none;
    border-top: 1px solid #777;
  }
  .d4p-wrap .d4p-settings-table .d4p-setting-wrapper input[type=number] {
    width: 100%;
  }
  .d4p-wrap.d4p-panel-about .nav-tab-wrapper {
    text-align: center;
    margin: 0 0 40px;
    padding: 0;
  }
  .d4p-wrap.d4p-panel-about .nav-tab-wrapper .nav-tab {
    float: none;
    display: inline-block;
  }
  .d4p-wrap.d4p-panel-about .d4p-whatsnew-heading .d4p-layout-grid {
    width: 100%;
  }
  .d4p-wrap .d4p-header .d4p-navigator {
    width: 100%;
    margin-top: -15px;
  }
  .d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button {
    margin-right: 2%;
  }
  .d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button {
    width: 49%;
  }
  .d4p-wrap .d4p-header .d4p-navigator ul li.d4p-nav-button > a {
    width: 100%;
  }
  .d4p-wrap .d4p-header .d4p-navigator .d4p-nav-button ul {
    width: 100%;
  }

  #dev4press-recommend {
    width: 100%;
  }
  #dev4press-recommend > div {
    width: 100%;
  }
  #dev4press-recommend .dev4press-plugin-inner em {
    line-height: 20px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  .d4p-wrap.d4p-panel-about {
    margin-right: 20px;
    margin-left: 10px;
  }
  .d4p-wrap.d4p-panel-about h1,
.d4p-wrap.d4p-panel-about .d4p-about-text {
    margin-right: 0;
  }
  .d4p-wrap.d4p-panel-about .d4p-about-text {
    margin-bottom: 0.25em;
  }
  .d4p-wrap.d4p-panel-about .d4p-about-badge {
    position: relative;
    margin-bottom: 1.5em;
    width: 100%;
  }
}
