.d4p-ctrl-alpha-color {
    .picker-reset {
        float: right;
        cursor: pointer;
    }

    .dashicons-image-rotate {
        margin-top: 3px;
        color: #D4D4D4;
        size: 16px;
    }
}
