.d4p-wrap {
    &.d4p-panel-about {
        position: relative;
        margin: 25px 40px 0 20px;
        max-width: 1050px;
        font-size: 15px;

        h1 {
            margin: 0.2em 200px 0 0;
            padding: 0;
            color: #32373C;
            line-height: 1.2em;
            font-size: 2.4em;
            font-weight: 400;
        }

        .d4p-about-text {
            margin: 1em 200px 1em 0;
            min-height: 60px;
            color: #555D66;
            font-weight: 400;
            line-height: 1.6em;
            font-size: 19px;
        }

        .d4p-about-badge {
            position: absolute;
            top: 0;
            right: 0;
            color: #FFF;
            font-size: 14px;
            text-align: center;
            font-weight: 600;
            margin: 5px 0 0;
            padding: 20px 10px;
            display: inline-block;
            width: 140px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

            i {
                font-size: 90px;
                display: block;
                margin-bottom: 10px;
            }
        }

        .nav-tab {
            font-size: 16px;
        }

        .d4p-about-inner {
            margin: 20px 0 0;
        }

        .d4p-about-minor {
            margin: 0 0 40px;
            border-bottom: 1px solid #DDD;

            h3 {
                font-size: 18px;
            }

            p {
                font-size: 14px;
            }
        }

        .d4p-info-block {
            margin: 0 0 20px;

            > h3 {
                background: #DFDFDF;
                color: #111;
                padding: 5px 10px;
                margin: 0;
                line-height: 1.5;
            }

            > div {
                background: #F8F8F8;
                color: #111;
                margin: 0;
                padding: 15px;

                ul {
                    margin: 0;
                    padding: 0;
                }
            }

            &.d4p-info-block-addons {
                > div {
                    background: transparent;
                }
            }

            &.d4p-info-block-changelog {
                h4 {
                    font-size: 1.2em;
                    margin: 0 0 15px;
                }

                ul {
                    margin: 0 0 10px;
                    padding: 0 0 10px;
                    border-bottom: 1px solid #DDD;

                    strong {
                        text-transform: uppercase;

                        &:after {
                            content: ": ";
                        }
                    }

                    &:last-child {
                        padding: 0;
                        margin: 0;
                        border-bottom: 0;
                    }
                }
            }

            .d4p-block-language {
                padding: 0 0 10px;
                margin: 0 0 10px;
                border-bottom: 1px solid #DDD;

                h4 {
                    margin: 0 0 5px;
                    font-weight: bold;
                }

                p {
                    margin: 0;
                }

                &:last-child {
                    padding: 0;
                    margin: 0;
                    border-bottom: 0;
                }
            }
        }

        .d4p-about-dev4press-plugins {
            margin: 0 0 10px;

            .d4p-dev4press-plugin {
                width: calc(50% - 15px);
                display: inline-block;
                margin-bottom: 20px;

                &:nth-child(odd) {
                    margin-right: 15px;
                    clear: both;
                }
            }

            ._badge {
                float: left;

                ._icon {
                    width: 80px;
                    height: 80px;
                    text-align: center;
                    line-height: 80px;
                    color: #FFF;
                    border-radius: 4px;

                    a {
                        color: #FFF;
                        text-decoration: none;
                        border: 0;
                        box-shadow: none;
                        outline: none;
                    }

                    i {
                        font-size: 60px;
                        line-height: inherit;
                    }
                }

                ._edition {
                    margin: 4px 0 0;
                    text-align: center;
                    color: #FFF;
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 22px;

                    > span {
                        display: inline-block;
                        width: 50%;
                    }

                    ._free {
                        background-color: #0061BD;
                        border-radius: 0 3px 3px 0;
                    }

                    ._pro {
                        background-color: #C52C2C;
                        border-radius: 3px 0 0 3px;
                    }

                    &._single {
                        > span {
                            width: 100%;
                            border-radius: 3px;
                        }
                    }
                }
            }

            ._info {
                margin-left: 100px;

                h5 {
                    font-size: 18px;
                    margin: 0 0 5px;

                    a {
                        text-decoration: none;
                        border: 0;
                        box-shadow: none;
                        outline: none;
                    }
                }

                p {
                    margin: 5px 0 0;
                }
            }
        }

        .d4p-whatsnew-section {
            margin: 0 0 40px;
            padding: 0 0 40px;
            border-bottom: 1px solid #DDD;

            img {
                width: 100%;
                height: auto;
                box-shadow: 0 0 2px rgba(0, 0, 0, .64);
            }

            h3 {
                margin: .25em 0 1.25em;
                font-size: 30px;
                font-weight: 300;
            }

            p {
                font-size: 18px;
                line-height: 28px;
            }

            .d4p-layout-grid {
                margin-bottom: 2em;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .d4p-whatsnew-heading {
            .d4p-layout-grid {
                max-width: 800px;
                width: 90%;
                margin: 56px auto 0;

                h2 {
                    font-size: 56px;
                    font-weight: 100;
                    margin: 0 0 20px;
                    line-height: 1;

                    p {
                        font-size: 16px;

                        &.lead-description {
                            font-size: 28px;
                            font-weight: 300;
                        }

                    }
                }
            }
        }

        .d4p-info-list {
            li {
                display: flex;

                span {
                    flex-grow: 0;
                    flex-shrink: 0;
                    flex-basis: 200px;
                }

                strong {
                    flex-grow: 0;
                    flex-shrink: 1;
                    font-family: monospace;
                    font-weight: normal;
                }
            }
        }

        .d4p-addon-information {
            border: 1px solid #999;
            padding: 1em;
            background: #FFF;

            h6 {
                margin: 0 0 .5em;
                font-weight: 600;
                font-size: 1.2em;
            }
        }
    }
}
