.d4p-setting-wrapper {
    .d4p-check-uncheck {
        font-size: .9em;
        padding: 0 0 5px;
        margin: 0 0 5px;
        border-bottom: 1px dotted #cccccc;
    }

    .d4p-content-wrapper {
        border: 1px solid #ddd;
        padding: 5px 10px;
        max-height: 160px;
        overflow: auto;

        .d4p-wrapper-hierarchy {
            margin: 0;

            li {
                margin: 2px 0;
            }

            ul.children {
                margin-left: 12px;
            }
        }
    }
}