.d4p-layout-grid {
    box-sizing: border-box;
    display: block;
    clear: both;
    *zoom: 1;

    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }

    &:after {
        clear: both;
    }

    &.wrap {
        max-width: 978px;
        margin: 0 auto;
    }

    .no-gutters {
        .d4p-layout-unit {
            padding: 0 !important;
        }
    }

    .d4p-layout-unit {
        box-sizing: border-box;
        float: left;
        width: 100%;
        padding: 10px;

        .d4p-layout-unit {
            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .d4p-layout-grid {
            &:first-child {
                > .d4p-layout-unit {
                    padding-top: 0;
                }
            }

            &:last-child {
                > .d4p-layout-unit {
                    padding-bottom: 0;
                }
            }
        }

        &.no-gutters {
            padding: 0 !important;
        }
    }

    .whole, .w-1-1 {
        width: 100%;
    }

    .half, .w-1-2 {
        width: 50%;
    }

    .one-third, .w-1-3 {
        width: 33.3332%;
    }

    .two-thirds, .w-2-3 {
        width: 66.6665%;
    }

    .one-quarter, .w-1-4 {
        width: 25%;
    }

    .three-quarters, .w-3-4 {
        width: 75%;
    }

    .one-fifth, .w-1-5 {
        width: 20%;
    }

    .two-fifths, .w-2-5 {
        width: 40%;
    }

    .three-fifths, .w-3-5 {
        width: 60%;
    }

    .four-fifths, .w-4-5 {
        width: 80%;
    }

    .golden-small, .w-g-s {
        width: 38.2716%;
    }

    .golden-large, .w-g-l {
        width: 61.7283%;
    }

    .align-center {
        text-align: center;
    }

    .align-left {
        text-align: left;
    }

    .align-right {
        text-align: right;
    }

    .pull-left {
        float: left;
    }

    .pull-right {
        float: right;
    }
}

@media screen and (max-width: 568px) {
    .d4p-layout-grid {
        .d4p-layout-unit {
            width: 100% !important;
            padding-left: 20px;
            padding-right: 20px;
        }

        .center-on-mobiles {
            text-align: center !important;
        }

        .hide-on-mobiles {
            display: none !important;
        }
    }

    .d4p-layout-unit {
        .d4p-layout-grid {
            .d4p-layout-unit {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
}

@media screen and (min-width: 1180px) {
    .wider {
        .d4p-layout-grid {
            max-width: 1180px;
            margin: 0 auto;
        }
    }
}
