.d4p-wrap,
.d4p-wrap * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.d4p-sr-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip:rect(0,0,0,0)
}

.d4p-return-to-top {
    text-align: right;
    margin: 15px 0 0;
    border-top: 1px dotted #cccccc;
    padding: 5px 0 0;
    text-transform: lowercase;
}

.d4p-wrap {
    margin: 0 15px 0 0;

    a,
    :focus {
        box-shadow: none;
    }

    .d4p-message {
        .notice {
            margin: 0;
            box-shadow: none;
            border-top: 0;
            padding: 15px;
            font-size: 14px;

            .notice-dismiss {
                padding: 14px;
            }
        }
    }

    .d4p-header {
        border-bottom: 1px solid #777777;
        margin: 35px 0 0;
        padding: 0 0 10px;
        height: 45px;

        .d4p-plugin {
            float: right;
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
            letter-spacing: -2px;
        }

        .d4p-navigator {
            float: left;

            a {
                text-decoration: none;
                color: #0074A2;
            }

            li {
                margin: 0;
            }

            ul {
                margin: 0;

                li.d4p-nav-button {
                    margin-right: 30px;
                    float: left;
                    position: relative;

                    &:last-child {
                        margin-right: 0;
                    }

                    > a {
                        position: relative;
                        display: inline-block;
                        outline: none;
                        background: none repeat scroll 0 0 #FFFFFF;
                        border: 1px solid #DDDDDD;
                        box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.1);
                        font-size: 15px;
                        padding: 7px 10px;
                        margin: 0;
                        width: 235px;
                        white-space: nowrap;
                        overflow: hidden;

                        i.d4p-icon {

                        }
                    }

                    ul {
                        display: none;
                        background: #FFFFFF;
                        border: 1px solid #DDDDDD;
                        box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
                        font-size: 14px;
                        line-height: 28px;
                        padding: 5px 0px;
                        position: absolute;
                        top: 33px;
                        width: 235px;
                        z-index: 100;

                        a {
                            display: block;
                            padding: 0 10px;

                            &:hover {
                                background: #0074A2;
                                color: #ffffff;
                            }
                        }

                        .d4p-nav-current {
                            display: block;
                            padding: 0 10px;
                            background: #444444;
                            color: #ffffff;

                            i.d4p-icon {
                                line-height: inherit;
                                vertical-align: bottom;
                            }
                        }
                    }
                }
            }
        }
    }

    &.d4p-with-sidebar {
        .d4p-inside-wrapper {
            .d4p-sidebar {
                float: left;
                padding: 15px 15px 15px 0;
                width: 250px;
                min-height: 320px;
            }

            .d4p-content {
                padding: 15px 0 15px 15px;
                overflow: auto;
                border-left: 1px solid #777777;
                min-height: 320px;
            }
        }
    }

    &.d4p-full-width {
        .d4p-inside-wrapper {
            padding: 15px 0 0;

            .d4p-content {
                min-height: 320px;
            }
        }
    }

    .d4p-sidebar {
        .d4p-panel-title {
            background: #FFFFFF;
            border: 1px solid #DDDDDD;
            box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.1);
            margin: 0 0 15px;
            padding: 15px;
            text-align: center;

            > i {
                font-size: 48px;
            }

            h3 {
                font-size: 28px;
                word-break: keep-all;
                font-weight: 600;
                letter-spacing: -2px;
                line-height: 1;
                margin: 5px 0 0;
                padding: 0;
                text-transform: uppercase;
            }

            h4 {
                margin: 10px 0 0;
                padding: 10px 0 0;
                border-top: 1px solid #DDDDDD;
                font-size: 20px;
                line-height: 1.4;
            }
        }

        .d4p-panel-info {
            text-align: center;
        }
    }
}

.d4p-panel-links {
    margin: 15px 0 0;
    padding: 15px 0 0;
    border-top: 1px solid #DDDDDD;

    a {
        background: #FEFEFE;
        border-radius: 4px;
        display: block;
        font-size: 20px;
        font-weight: bold;
        line-height: 35px;
        margin: 0 0 5px;
        text-align: center;
        text-decoration: none;
    }
}

.d4p-panel-buttons {
    margin: 15px 0 0;
    padding: 15px 0 0;
    border-top: 1px solid #DDDDDD;

    .button-primary {
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        height: 44px;
        line-height: 40px;
        text-align: center;
    }

    .button-secondary {
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        height: 32px;
        line-height: 28px;
    }
}

.d4p-panel-break {
    border-bottom: 4px solid #555;
    margin: 0 0 15px;
    padding: 0;

    h4 {
        background-color: #555;
        color: #fff;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        line-height: 28px;
        margin: 0 0 0 20px;
        padding: 5px 30px 5px 15px;

        i {
            margin: 0 7px 0 0;
            font-size: 18px;
        }
    }
}

.d4p-panel-group-break {
    border-bottom: 2px solid #777;
    margin: 0 0 15px;
    padding: 0;

    h5 {
        background-color: #777;
        color: #fff;
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        margin: 0 0 0 20px;
        padding: 5px 20px 5px 15px;

        i {
            margin: 0 4px 0 0;
            font-size: 16px;
        }
    }
}
