.d4p-group-inner .d4p-setting-code > .CodeMirror {
    border: 1px solid #DDD;
}

.d4p-field-unit {
    margin-left: 8px;
}

.d4p-panel-buttons input.button-primary {
    font-size: 18px;
    font-weight: bold;
    height: 44px;
    width: 100%;
}

.d4plib-button-inner {
    margin: 0 5px 0 0 !important;
}

.d4plib-button-action {
    margin: 0 5px 0 0 !important;
    height: 22px !important;
    line-height: 20px !important;
    padding: 0 6px 1px !important;
}

.d4p-grid-hide-bulkactions .actions.bulkactions {
    display: none;
}
