#dev4press-recommend {
    margin-left: 10px;
    float: right;
    width: 340px;

    > div {
        background-color: #333;
        border: 2px solid #111;
        color: #FFF;
        padding: 0;
        margin-bottom: 10px;
        width: 340px;
    }

    a,
    a:hover {
        color: #FFF;
        text-decoration: none;
    }

    h5 {
        background-color: #777;
        color: #FFF;
        padding: 7px 0 10px;
        margin: 0 0 10px;
        text-align: center;
        font-size: 16px;
    }

    h6 {
        font-size: 18px;
        margin: 0;
        line-height: 24px;
        padding: 5px 0 10px;
        text-align: center;
    }

    .dev4press-plugin-inner {
        margin: 10px;

        em {
            line-height: 18px;
            font-size: 12px;
        }
    }

    .dev4press-plugin-thumb {
        float: left;
        margin: 0 10px 10px 0;

        img {
            width: 92px;
            height: 92px;
        }

        i {
            font-size: 90px;
            width: 116px;
            height: 96px;
            display: block;
        }
    }

    .dev4press-plugin-links {
        clear: both;
        margin: 10px 0 0;
        padding: 10px 0 0;
        border-top: 1px solid #F8F8F8;

        a {
            margin: 0 1%;
            width: 31.33%;
            text-align: center;

            &.button-secondary {
                color: #111;
                box-shadow: none;
            }

            &.dev4press-buynow {
                background: #BA0000;
                box-shadow: none;
                border-color: #F0F0F0;
                text-shadow: 0 -1px 1px #900, 1px 0 1px #900, 0 1px 1px #900, -1px 0 1px #900;
            }
        }
    }
}
