@media screen and (max-width: 1280px) {
    #dev4press-recommend {
        float: none;
        margin: 15px 0 0 0;
        padding: 15px 0 0 0;
        border-top: 1px solid #777777;
    }
}

@media screen and (max-width: 1080px) {
    .d4p-wrap {
        &.d4p-panel-dashboard {
            .d4p-content {
                .d4p-group {
                    &.d4p-dashboard-card {
                        width: 100%;

                        &:nth-child(odd) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .d4p-group {
        .d4p-group-inner {
            .form-table {
                > tbody {
                    > tr {
                        > th {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .d4p-wrap {
        .d4p-header {
            .d4p-plugin {
                display: none;
            }
        }
    }

    .d4p-options-panel {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .d4p-wrap {
        &.d4p-panel-about {
            .d4p-about-dev4press-plugins {
                .d4p-dev4press-plugin {
                    width: 100%;
                    display: block;
                    margin-bottom: 25px;

                    &:nth-child(odd) {
                        margin-right: 0;
                        clear: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .d4p-wrap {
        .d4p-header {
            margin: 50px 0 0;
        }

        &.d4p-with-sidebar {
            .d4p-inside-wrapper {
                .d4p-sidebar {
                    width: 100%;
                    float: none;
                    padding: 15px 0;
                    min-height: 0;
                }

                .d4p-content {
                    padding: 15px 0 0;
                    border-left: none;
                    border-top: 1px solid #777777;
                }
            }
        }
    }

    .d4p-wrap {
        &.d4p-panel-about {
            .nav-tab-wrapper {
                text-align: center;
                margin: 0 0 40px;
                padding: 0;

                .nav-tab {
                    float: none;
                    display: inline-block;
                }
            }

            .d4p-whatsnew-heading {
                .d4p-layout-grid {
                    width: 100%;
                }
            }
        }

        .d4p-header {
            .d4p-navigator {
                width: 100%;
                margin-top: -15px;

                ul {
                    li {
                        &.d4p-nav-button {
                            margin-right: 2%;
                        }
                    }
                }

                ul {
                    li {
                        &.d4p-nav-button {
                            width: 49%;

                            > a {
                                width: 100%;
                            }
                        }
                    }
                }

                .d4p-nav-button {
                    ul {
                        width: 100%;
                    }
                }
            }
        }

    }

    #dev4press-recommend {
        width: 100%;

        > div {
            width: 100%;
        }

        .dev4press-plugin-inner em {
            line-height: 20px;
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .d4p-wrap {
        &.d4p-panel-about {
            margin-right: 20px;
            margin-left: 10px;

            h1,
            .d4p-about-text {
                margin-right: 0;
            }

            .d4p-about-text {
                margin-bottom: 0.25em;
            }

            .d4p-about-badge {
                position: relative;
                margin-bottom: 1.5em;
                width: 100%;
            }
        }
    }
}
