.d4p-wrap {
    &.d4p-panel-dashboard {
        .d4p-sidebar {
            .d4p-dashboard-badge {
                padding: 2em;
                text-align: center;
                border-radius: var(--d4p-layout-main-border-radius);

                * {
                    color: #FFF;
                }

                h3 {
                    word-break: keep-all;
                    font-weight: 300;
                    letter-spacing: -1px;
                    margin: .5em 0 0;
                    padding: 0;
                    text-transform: uppercase;
                    line-height: 1.1;
                    font-size: 32px;
                }

                ._version-wrapper {
                    margin: 1.6em -1.6em -1.6em;
                    padding: 1em;
                    border-top: 1px solid var(--d4p-color-main-border);
                    font-size: 1.3em;
                    text-align: center;
                    font-weight: 300;
                    display: flex;

                    > span {
                        display: block;
                    }

                    ._edition {
                        font-weight: bold;
                    }

                    ._version {
                        text-align: right;
                        flex-grow: 1;
                    }
                }
            }

            .d4p-links-group {
                margin: 2em 0 0;

                a {
                    display: block;
                    margin: 0 0 .5em;

                    i {
                        font-size: 1.3em;
                        width: 1.3em;
                        text-align: center;
                    }

                    span {
                        font-size: 120%;
                        font-weight: bold;
                        vertical-align: top;
                    }
                }
            }
        }

        .d4p-content {
            .d4p-cards-wrapper {
                width: 100%;
                max-width: 1200px;
                display: flex;
                flex-wrap: wrap;
                margin: -1em;

                .d4p-group {
                    &.d4p-dashboard-card {
                        flex: 1 1 calc(50% - 2em);
                        margin: 1em;
                    }

                    &.d4p-card-double {
                        flex: 1 0 100%;
                        max-width: calc(100% - 2em);
                    }
                }

                @media screen and (max-width: 1200px) {
                    flex-direction: column;

                    .d4p-group {
                        &.d4p-dashboard-card {
                            max-width: calc(100% - 2em);
                        }
                    }
                }
            }

            .d4p-group {
                &.d4p-dashboard-card {
                    display: block;

                    &.d4p-card-double {
                        .d4p-group-inner {
                            font-size: 105%;
                        }
                    }

                    .d4p-group-inner {
                        padding: 15px;

                        h4 {
                            margin: 0 0 15px;
                            font-size: 1.15em;
                        }

                        hr {
                            margin: 15px 0;
                            border: 0;
                            border-top: 1px solid #DDD;
                        }

                        ul {
                            list-style: none;
                            margin: 0;

                            li {
                                margin: 3px 0;
                            }

                            &.d4p-with-bullets {
                                list-style: outside disc;
                                margin-left: 20px;

                                li {
                                    list-style: inherit;
                                }
                            }
                        }
                    }

                    .d4p-group-footer {
                        border-top: 1px solid #EEE;
                        padding: 10px 15px;
                        text-align: left;
                    }

                    .d4p-card-badge {
                        border-radius: var(--d4p-layout-badge-border-radius);
                        margin-left: 5px;
                        color: #FFF;
                        display: inline-block;
                        padding: 0 6px 2px;
                        line-height: 1.5;

                        .d4p-icon {
                            font-size: 82%;
                            margin-right: 5px;
                            vertical-align: baseline;
                        }

                        &.d4p-badge-right {
                            float: right;
                        }

                        &.d4p-badge-green,
                        &.d4p-badge-ok {
                            background: #090;
                        }

                        &.d4p-badge-red,
                        &.d4p-badge-error {
                            background: #900;
                        }

                        &.d4p-badge-purple,
                        &.d4p-badge-maintenance {
                            background: #813E99;
                        }

                        &.d4p-badge-blue,
                        &.d4p-badge-upgrade {
                            background: #0A63A5;
                        }
                    }

                    .d4p-group-header {
                        border-bottom: 1px solid #EEE;
                        padding: 10px 15px;
                        background: #FAFAFA;
                        text-align: left;
                    }

                    .d4p-group-inner,
                    .d4p-group-header,
                    .d4p-group-footer {
                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;

                            li {
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                line-height: 2em;
                                font-size: 1em;
                                width: 50%;
                                float: left;

                                a {
                                    text-decoration: none;

                                    i {
                                        color: #555;
                                        font-size: 105%;
                                        margin-right: 3px;
                                    }

                                    strong {
                                        font-weight: 700;
                                    }
                                }

                                .d4p-card-badge {
                                    margin-top: 2px;
                                }

                                &:nth-child(odd) {
                                    padding-right: 10px;
                                }

                                &:nth-child(even) {
                                    padding-left: 10px;
                                }
                            }

                            &.d4p-full-width {
                                li {
                                    float: none;
                                    width: 100%;
                                    padding: 0;
                                }
                            }
                        }
                    }

                    .d4p-status-message {
                        font-weight: bold;
                    }

                    .d4p-dashboard-status-row {
                        display: block;
                        margin: 8px 0 8px;
                        font-size: 15px;
                        line-height: 24px;

                        .d4p-type-toggle {
                            font-size: 22px;
                            vertical-align: bottom;
                            margin: 0 5px 0 0;

                            &.d4p-type-status-enabled {
                                color: #3B7D33;
                            }

                            &.d4p-type-status-disabled {
                                color: #D05757;
                            }
                        }
                    }
                }
            }
        }
    }
}
