.d4p-wrap {
    &.d4p-with-table {
        .tablenav {
            height: auto;
            margin: 10px 0;
            padding: 0;
        }
    }
}

.d4p-grid-hide-bulkactions .actions.bulkactions {
    display: none;
}
