// Font //
$font-name: "dev4press";
$font-version: "3.7";
$font-prefix: "d4p";
$font-prefix-ctrl: "d4p-icon";

// Typography //
$font-size: 14px;

// Balloon //
$balloon-bg: #007CBA !default;
$balloon-text: #FFF !default;
$balloon-base-size: 15px !default;
$balloon-arrow-size: 10px !default;
$balloon-move: 8px !default;
$balloon-radius: 0px !default;
